<mat-list-item *ngIf="appLanguageService.LangID == 0">
    {{ addressModel.Address.StreetNumber }}&nbsp;
    {{ streetType[addressModel.Address.StreetType] }},&nbsp;
    {{ addressModel.Address.StreetName }},&nbsp;
    {{
    addressService.GetMunicipalityTVItemModel(addressModel.Address.MunicipalityTVItemID).TVItemLanguageList[appLanguageService.LangID].TVText
    }}&nbsp;
    {{
    addressService.GetProvinceTVItemModel(addressModel.Address.ProvinceTVItemID).TVItemLanguageList[appLanguageService.LangID].TVText
    }},&nbsp;
    {{ addressModel.Address.PostalCode }},&nbsp;
    {{
    addressService.GetCountryTVItemModel(addressModel.Address.CountryTVItemID).TVItemLanguageList[appLanguageService.LangID].TVText
    }}
</mat-list-item>
<mat-list-item *ngIf="appLanguageService.LangID == 1">
    {{ addressModel.Address.StreetNumber }}&nbsp;
    {{ streetType[addressModel.Address.StreetType] }}&nbsp;
    {{ addressModel.Address.StreetName }},&nbsp;
    {{
    addressService.GetMunicipalityTVItemModel(addressModel.Address.MunicipalityTVItemID).TVItemLanguageList[appLanguageService.LangID].TVText
    }}&nbsp;
    {{
    addressService.GetProvinceTVItemModel(addressModel.Address.ProvinceTVItemID).TVItemLanguageList[appLanguageService.LangID].TVText
    }},&nbsp;
    {{ addressModel.Address.PostalCode }},&nbsp;
    {{
    addressService.GetCountryTVItemModel(addressModel.Address.CountryTVItemID).TVItemLanguageList[appLanguageService.LangID].TVText
    }}
</mat-list-item>