<mat-list-item *ngIf="appLanguageService.LangID == 0">
    {{ address?.StreetNumber }}&nbsp;
    {{ streetType[address?.StreetType] }},&nbsp;
    {{ address?.StreetName }},&nbsp;
    {{
    addressService.GetMunicipalityTVItemModel(address?.MunicipalityTVItemID).TVItemLanguageList[appLanguageService.LangID]?.TVText
    }}&nbsp;
    {{
    addressService.GetProvinceTVItemModel(address?.ProvinceTVItemID).TVItemLanguageList[appLanguageService.LangID]?.TVText
    }},&nbsp;
    {{ address?.PostalCode }},&nbsp;
    {{
    addressService.GetCountryTVItemModel(address?.CountryTVItemID).TVItemLanguageList[appLanguageService.LangID]?.TVText
    }}
</mat-list-item>
<mat-list-item *ngIf="appLanguageService.LangID == 1">
    {{ address?.StreetNumber }}&nbsp;
    {{ streetType[address?.StreetType] }}&nbsp;
    {{ address?.StreetName }},&nbsp;
    {{
    addressService.GetMunicipalityTVItemModel(address?.MunicipalityTVItemID).TVItemLanguageList[appLanguageService.LangID]?.TVText
    }}&nbsp;
    {{
    addressService.GetProvinceTVItemModel(address?.ProvinceTVItemID).TVItemLanguageList[appLanguageService.LangID]?.TVText
    }},&nbsp;
    {{ address?.PostalCode }},&nbsp;
    {{
    addressService.GetCountryTVItemModel(address?.CountryTVItemID).TVItemLanguageList[appLanguageService.LangID]?.TVText
    }}
</mat-list-item>