<!-- <app-file-upload [working]="appStateService.Working"></app-file-upload> -->

<div *ngFor="let TVFileModelList of TVFileModelListList">
    <ng-container *ngIf="TVFileModelList != null && TVFileModelList.length > 0">
        <mat-list *ngFor="let tvFileModel of TVFileModelList; let i = index">
            <h2 class="file-purpose" *ngIf="i == 0">{{ GetFilePurposeEnum_GetIDText(tvFileModel.TVFile.FilePurpose) }}
            </h2>
            <app-file-list-item [Index]='(i + 1)' [TVFileModel]="tvFileModel"></app-file-list-item>
        </mat-list>
    </ng-container>
</div>