<blockquote>
    <span *ngIf="tvTypeEnum.Municipality">
        <span>{{ appLanguageService.TVItemListDetailProvinceMunicipality[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Municipality" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.LiftStation">
        <span>{{ appLanguageService.TVItemListDetailProvinceLiftStation[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.LiftStation" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.WasteWaterTreatmentPlant">
        <span>{{ appLanguageService.TVItemListDetailProvinceWWTP[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.WasteWaterTreatmentPlant" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Area">
        <span>{{ appLanguageService.TVItemListDetailProvinceArea[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Area" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Sector">
        <span>{{ appLanguageService.TVItemListDetailProvinceSector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Sector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Subsector">
        <span>{{ appLanguageService.TVItemListDetailProvinceSubsector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSiteSample">
        <span>{{ appLanguageService.TVItemListDetailProvinceMWQMSample[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSite">
        <span>{{ appLanguageService.TVItemListDetailProvinceMWQMSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMRun">
        <span>{{ appLanguageService.TVItemListDetailProvinceMWQMRun[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.PolSourceSite">
        <span>{{ appLanguageService.TVItemListDetailProvincePolSourceSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.PolSourceSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MikeScenario">
        <span>{{ appLanguageService.TVItemListDetailProvinceMikeScenario[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MikeScenario" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.BoxModel">
        <span>{{ appLanguageService.TVItemListDetailProvinceBoxModel[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.BoxModel" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.VisualPlumesScenario">
        <span>{{ appLanguageService.TVItemListDetailProvinceVPScenario[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.VisualPlumesScenario" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <hr />
</blockquote>