<div class="loginCard">
    <mat-card>
        <mat-card-content>
            <h2>{{ loginService.loginModel$.getValue().Locale_Login }}</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field>
                        <mat-label for="LoginEmail">{{ loginService.loginModel$.getValue().Locale_LoginEmail }}
                        </mat-label>
                        <input matInput type="text" formControlName="LoginEmail"
                            [ngClass]="{ 'is-invalid': userService.userModel$.getValue().Working && f.LoginEmail.errors }" />
                        <mat-error *ngIf="userService.userModel$.getValue().Working && f.LoginEmail.errors">
                            <span
                                *ngIf="f.LoginEmail.errors.required">{{ loginService.loginModel$.getValue().Locale_LoginEmailIsRequired }}</span>
                        </mat-error>
                        <!-- <mat-hint>Hint for Login Email</mat-hint> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <mat-label for="Password">{{ loginService.loginModel$.getValue().Locale_Password }}</mat-label>
                        <input matInput type="password" formControlName="Password"
                            [ngClass]="{ 'is-invalid': userService.userModel$.getValue().Working && f.Password.errors }" />
                        <mat-error *ngIf="userService.userModel$.getValue().Working && f.Password.errors">
                            <span
                                *ngIf="f.Password.errors.required">{{ loginService.loginModel$.getValue().Locale_PasswordIsRequired }}</span>
                        </mat-error>
                        <!-- <mat-hint>Hint for Password</mat-hint> -->
                    </mat-form-field>
                </p>
                <p>
                    <mat-error *ngIf="userService.userModel$.getValue().Error">
                        {{ userService.userModel$.getValue().Error?.error }}
                    </mat-error>
                </p>
                <p>
                    <button mat-raised-button [disabled]="userService.userModel$.getValue().Working">
                        <mat-progress-bar *ngIf="userService.userModel$.getValue().Working" mode="indeterminate">
                        </mat-progress-bar>
                        {{ loginService.loginModel$.getValue().Locale_Login }}
                    </button>

                    <a mat-button
                        routerLink="/{{ loginService.loginModel$.getValue().Language }}/register">{{ loginService.loginModel$.getValue().Locale_Register }}</a>
                </p>
            </form>
        </mat-card-content>
    </mat-card>
</div>