<span mat-button [matMenuTriggerFor]="menu" title="{{ appLanguageService.FileName[appLanguageService.LangID] }}">&nbsp;&nbsp;
    <span *ngIf="fileSortByPropService.GetFileSortByProp(TVType) == filesSortPropEnum.FileName" 
    title="{{ appLanguageService.SortedBy[appLanguageService.LangID] }} {{ appLanguageService.FileName[appLanguageService.LangID] }}">
        ({{ appLanguageService.FileNameAccro[appLanguageService.LangID] }})
    </span>
    <span *ngIf="fileSortByPropService.GetFileSortByProp(TVType) == filesSortPropEnum.FileType" 
    title="{{ appLanguageService.SortedBy[appLanguageService.LangID] }} {{ appLanguageService.FileType[appLanguageService.LangID] }}">
        ({{ appLanguageService.FileTypeAccro[appLanguageService.LangID] }})
    </span>
    <span *ngIf="fileSortByPropService.GetFileSortByProp(TVType) == filesSortPropEnum.FileSize" 
    title="{{ appLanguageService.SortedBy[appLanguageService.LangID] }} {{ appLanguageService.FileSize[appLanguageService.LangID] }}">
        ({{ appLanguageService.FileSizeAccro[appLanguageService.LangID] }})
    </span>
    <span *ngIf="fileSortByPropService.GetFileSortByProp(TVType) == filesSortPropEnum.FileDate" 
    title="{{ appLanguageService.SortedBy[appLanguageService.LangID] }} {{ appLanguageService.FileDate[appLanguageService.LangID] }}">
        ({{ appLanguageService.FileDateAccro[appLanguageService.LangID] }})
    </span>
</span>
<mat-menu #menu="matMenu">
    <h2  mat-menu-item >{{ appLanguageService.SortBy[appLanguageService.LangID] }}</h2>
    <button mat-menu-item (click)="fileSortByPropService.SetFileSortByProp(TVType, filesSortPropEnum.FileName)">{{ appLanguageService.FileName[appLanguageService.LangID] }}</button>
    <button mat-menu-item (click)="fileSortByPropService.SetFileSortByProp(TVType, filesSortPropEnum.FileType)">{{ appLanguageService.FileType[appLanguageService.LangID] }}</button>
    <button mat-menu-item (click)="fileSortByPropService.SetFileSortByProp(TVType, filesSortPropEnum.FileSize)">{{ appLanguageService.FileSize[appLanguageService.LangID] }}</button>
    <button mat-menu-item (click)="fileSortByPropService.SetFileSortByProp(TVType, filesSortPropEnum.FileDate)">{{ appLanguageService.FileDate[appLanguageService.LangID] }}</button>
</mat-menu>
