<h1>Action Commands</h1>

<ul>
    <li *ngFor="let actionCommand of actionCommandService.actionCommandList">
        <button (click)="ViewDetails(actionCommand)" mat-button color="primary">
            <mat-icon>arrow_drop_down_circle</mat-icon>
        </button>
        <button disabled="{{ actionCommand.Working }}" (click)="RunActionCommand(actionCommand)" mat-button
            color="primary">
            {{ actionCommand.Command }}
        </button>

        <mat-progress-bar *ngIf="actionCommand.Working" mode="indeterminate">
        </mat-progress-bar>

        <p *ngIf="actionCommand.Error">
            <mat-error>{{ actionCommand.Error.error.ErrorText }} </mat-error>
        </p>
        <div *ngIf="actionCommand.ViewDetails">
            <h1>{{ actionCommand.FullFileName }}</h1>
            <pre>
                {{ actionCommand.Description }}
            </pre>
            <pre>
                {{ actionCommand.TempStatusText }}
            </pre>
            <pre>
                {{ actionCommand.ExecutionStatusText }}
            </pre>
            <pre>
                {{ actionCommand.FilesStatusText }}
            </pre>
            <pre>
                {{ actionCommand.PercentCompleted }}
            </pre>
            <div>
                {{ actionCommand.LastUpdateDate | date:'longDate' }}
            </div>
            <pre>
                {{ actionCommandService.actionCommandTextModel$.value.CurrentStatus }}
            </pre>
        </div>
    </li>
</ul>

<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>
<p>b</p>