<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionArea(areaSubComponentEnum.Sectors)"
    (click)="componentShowService.ShowArea(areaSubComponentEnum.Sectors)"
    title="{{ appLanguageService.AreaShowSectors[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.AreaSectors[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebArea?.TVItemModel, tvTypeEnum.Sector) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForAreaSectors(ascDescEnum.Ascending)"
        *ngIf="appStateService.AreaSectorsSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForAreaSectors(ascDescEnum.Descending)"
        *ngIf="appStateService.AreaSectorsSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionArea(areaSubComponentEnum.Files)"
    (click)="componentShowService.ShowArea(areaSubComponentEnum.Files)"
    title="{{ appLanguageService.AreaShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.AreaFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;({{ statCountService.GetStatCount(appLoadedService.WebArea?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebArea?.TVItemModel, tvTypeEnum.TotalFile) }})&nbsp;&nbsp;
        </span>
    </span>
</button>

<app-sector-tvitem-list-item *ngIf="appStateService.AreaSubComponent == areaSubComponentEnum.Sectors"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebArea?.TVItemModelSectorList))">
</app-sector-tvitem-list-item>

<app-file-list *ngIf="appStateService.AreaSubComponent == areaSubComponentEnum.Files"
    [TVFileModelListList]="appLoadedService.WebArea?.TVFileModelList">
</app-file-list>
