<ng-container *ngIf="showTVFileService.TVFileVisible(TVFileModel)">
    <p>
        <button mat-raised-button (click)="SwitchVisibleTo(visible.View)" [ngClass]="ShowView ? 'selected' : ''">
            {{ appLanguageService.View[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="SwitchVisibleTo(visible.Modify)" [ngClass]="ShowModify ? 'selected' : ''">
            {{ appLanguageService.Modify[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="SwitchVisibleTo(visible.Create)" [ngClass]="ShowCreate ? 'selected' : ''">
            {{ appLanguageService.Create[appLanguageService.LangID] }}
        </button>
    </p>
    <app-file-list-item-view [TVType]="TVType" *ngIf="ShowView" [TVFileModel]="TVFileModel"> </app-file-list-item-view>
    <app-file-list-item-modify *ngIf="ShowModify" [TVFileModel]="TVFileModel"> </app-file-list-item-modify>
    <app-file-list-item-create *ngIf="ShowCreate" [TVFileModel]="TVFileModel"> </app-file-list-item-create>
  
</ng-container>