<mat-card>
    <mat-card-content>
        <button mat-raised-button (click)="ViewVisible = !ViewVisible" [ngClass]="ViewVisible ? 'selected' : ''">
            {{ appLanguageService.View[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="ModifyVisible = !ModifyVisible" [ngClass]="ModifyVisible ? 'selected' : ''">
            {{ appLanguageService.Modify[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="CreateVisible = !CreateVisible" [ngClass]="CreateVisible ? 'selected' : ''">
            {{ appLanguageService.Create[appLanguageService.LangID] }}
        </button>
        <app-file-list-item-view [TVType]="TVType" *ngIf="ViewVisible" [TVFileModel]="TVFileModel">
        </app-file-list-item-view>
        <app-file-list-item-modify *ngIf="ModifyVisible" [TVFileModel]="TVFileModel"> </app-file-list-item-modify>
        <app-file-list-item-create *ngIf="CreateVisible" [TVFileModel]="TVFileModel"> </app-file-list-item-create>
    </mat-card-content>
</mat-card>