.left {
  float: left;
}

.right {
  float: right;
}

.toolbar {
  flex: 1 1 auto;
}

.margin10 {
  margin: 20px;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav-left {
  width: 200px;
}

.sidenav-right {
  width: 50%;
}

.Size30 {
  width: 30%
}

.Size40 {
  width: 40%
}

.Size50 {
  width: 50%
}

.Size60 {
  width: 60%
}

.Size70 {
  width: 70%
}

.menuWidth {
  width: 800px;
}