<mat-toolbar class="header">
    <span class="toolbar">
        <button mat-button
            title="{{ appLanguageService.AppLanguage.ShellOpenHistoryMenu[appStateService.AppState$?.getValue().Language] }}"
            [matMenuTriggerFor]="historyMenu">
            <mat-icon>history</mat-icon>
        </button>
        <mat-menu #historyMenu="matMenu">
            <button mat-menu-item 
            *ngFor="let history of appStateService.AppState$?.getValue()?.History"
            (click)="NavigateTo(history)">
                {{ history.TVItemLanguageList[appStateService.AppState$?.getValue().Language].TVText }}
            </button>
        </mat-menu>

        <button (click)="togglesService.ToggleMenu()" mat-button
            title="{{ appLanguageService.AppLanguage.ShellOpenContextMenu[appStateService.AppState$?.getValue().Language] }}">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button (click)="Home()"
            title="{{ appLanguageService.AppLanguage.ShellReturnHome[appStateService.AppState$?.getValue().Language] }}">
            {{ appLanguageService.AppLanguage.ShellApplicationName[appStateService.AppState$?.getValue().Language] }}
        </button>
        <span>
            <app-search></app-search>
        </span>
    </span>
    <span class="right">
        <button mat-button>
            <mat-icon>account_circle</mat-icon>
            <!-- {{ appLoadedService.AppLoaded$?.getValue()?.LoggedInContact?.LoginEmail }} -->
        </button>
        <button mat-button *ngIf="(appStateService.AppState$?.getValue()?.Language == languageEnum.fr)"
            (click)="SetLanguage(languageEnum.en)">English</button>
        <button mat-button *ngIf="(appStateService.AppState$?.getValue()?.Language == languageEnum.en)"
            (click)="SetLanguage(languageEnum.fr)">Français</button>
        <button mat-button (click)="togglesService.ToggleMap()"
            title="{{ appLanguageService.AppLanguage.ShellShowMap[appStateService.AppState$?.getValue().Language] }}">
            <mat-icon>map</mat-icon>
        </button>
        <button mat-button
            title="{{ appLanguageService.AppLanguage.ShellResizeMap[appStateService.AppState$?.getValue().Language] }}"
            *ngIf="(appStateService.AppState$?.getValue()?.MapVisible)" [matMenuTriggerFor]="mapMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mapMenu="matMenu">
            <h3>&nbsp;&nbsp;Map size</h3>
            <button mat-menu-item [ngClass]="ColorSelection(mapSizeEnum.Size30)"
                (click)="SetMapSize(mapSizeEnum.Size30)">30 %</button>
            <button mat-menu-item [ngClass]="ColorSelection(mapSizeEnum.Size40)"
                (click)="SetMapSize(mapSizeEnum.Size40)">40 %</button>
            <button mat-menu-item [ngClass]="ColorSelection(mapSizeEnum.Size50)"
                (click)="SetMapSize(mapSizeEnum.Size50)">50 %</button>
            <button mat-menu-item [ngClass]="ColorSelection(mapSizeEnum.Size60)"
                (click)="SetMapSize(mapSizeEnum.Size60)">60 %</button>
            <button mat-menu-item [ngClass]="ColorSelection(mapSizeEnum.Size70)"
                (click)="SetMapSize(mapSizeEnum.Size70)">70 %</button>
        </mat-menu>
    </span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav-left" #leftSideNav [opened]="appStateService.AppState$?.getValue()?.MenuVisible"
        mode="side">
        <app-sidenav-menu [AppState]="appStateService.AppState$?.getValue()"></app-sidenav-menu>
    </mat-sidenav>
    <mat-sidenav [ngClass]="GetMapSizeClass()" #rightSideNav
        [opened]="appStateService.AppState$?.getValue()?.MapVisible" mode="side" position="end">
        <app-map [AppState]="appStateService.AppState$?.getValue()"></app-map>
    </mat-sidenav>
    <span *ngIf="(appStateService.AppState$ | async).Working">

    </span>
    <app-error [Error]="(appStateService.AppState$ | async).Error"></app-error>
    <app-bread-crumb [AppState]="appStateService.AppState$?.getValue()"></app-bread-crumb>

    <div class="margin10">
        <app-root *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Root">
        </app-root>
        <app-country *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Country">
        </app-country>
        <app-province *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Province">
        </app-province>
        <app-area *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Area">
        </app-area>
        <app-sector *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Sector">
        </app-sector>
        <app-subsector
            *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Subsector">
        </app-subsector>
        <app-municipality
            *ngIf="appStateService.AppState$?.getValue().ShellSubComponent == shellSubComponentEnum.Municipality">
        </app-municipality>
    </div>


    <mat-toolbar class="footer">
        <app-footer></app-footer>
    </mat-toolbar>
</mat-sidenav-container>