<mat-list *ngFor="let tvItemModel of TVItemModelList; let i = index">
    <app-tvitem-menu [TVItemModel]="tvItemModel" >
    </app-tvitem-menu>

    <button mat-button (click)="subPageService.SetSubPage(tvItemModel)">
        <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.UserPreference.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.UserPreference.DetailVisible">
                [{{ tvItemModel?.TVItem.TVItemID }}]
            </span>
            {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.UserPreference.StatCountVisible" [TVType]="null"
            [TVItemModel]="tvItemModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.UserPreference.LastUpdateVisible"
            [TVItemModel]="tvItemModel"></app-last-udpate-tv-item-model>
    </button>

    <ng-container *ngIf="showTVItemService.TVItemVisible(tvItemModel)">
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>preview</mat-icon>
                        &nbsp;&nbsp;&nbsp;View
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-country-item-view [TVItemModel]="tvItemModel" >
                </app-country-item-view>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="appStateService.UserPreference.EditVisible">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>edit</mat-icon>
                        &nbsp;&nbsp;&nbsp;Modify
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-country-item-modify [TVItemModel]="tvItemModel"
                    >
                </app-country-item-modify>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="appStateService.UserPreference.EditVisible">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>add</mat-icon>
                        &nbsp;&nbsp;&nbsp;Create
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-country-item-create [TVItemModel]="tvItemModel"
                    >
                </app-country-item-create>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>

    <app-country-tvitem-list-detail  *ngIf="appStateService.UserPreference.DetailVisible"
        [TVItemModel]="tvItemModel"></app-country-tvitem-list-detail>
</mat-list>