<mat-list *ngFor="let webBase of TVItemList; let i = index">
    <app-tvitem-menu [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
    </app-tvitem-menu>

    <button mat-button (click)="subPageService.SetSubPage(webBase?.TVItemModel)">
        <span [ngClass]="webBase?.TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.AppState$?.getValue()?.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
                [{{ webBase?.TVItemModel.TVItem.TVItemID }}]
            </span>
            {{ webBase?.TVItemModel?.TVItemLanguageList[this.appStateService.AppState$.getValue().Language]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.AppState$.getValue().StatCountVisible" [TVType]="null"
            [TVItemModel]="webBase?.TVItemModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.AppState$?.getValue()?.LastUpdateVisible"
            [TVItemModel]="webBase?.TVItemModel"></app-last-udpate-tv-item-model>
    </button>

    <ng-container *ngIf="showTVItemService.TVItemVisible(webBase?.TVItemModel)">
        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>preview</mat-icon>
                        &nbsp;&nbsp;&nbsp;View
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-country-item-view [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
                </app-country-item-view>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="AppState.EditVisible">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>edit</mat-icon>
                        &nbsp;&nbsp;&nbsp;Modify
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-country-item-modify [TVItemModel]="webBase?.TVItemModel"
                    [AppState]="AppState">
                </app-country-item-modify>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="AppState.EditVisible">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>add</mat-icon>
                        &nbsp;&nbsp;&nbsp;Create
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-country-item-create [TVItemModel]="webBase?.TVItemModel"
                    [AppState]="AppState">
                </app-country-item-create>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>

    <app-country-tvitem-list-detail [AppState]="AppState" *ngIf="!IsBreadCrumb && AppState?.DetailVisible"
        [TVItemModel]="webBase?.TVItemModel"></app-country-tvitem-list-detail>
</mat-list>