<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionCountry(countrySubComponentEnum.Provinces)"
    (click)="componentShowService.ShowCountry(countrySubComponentEnum.Provinces)"
    title="{{ appLanguageService.CountryShowProvinces[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.CountryProvinces[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebCountry?.TVItemModel, tvTypeEnum.Province) }}&nbsp;&nbsp;
        </span>                                                                                                
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForCountryProvinces(ascDescEnum.Ascending)"
        *ngIf="appStateService.CountryProvincesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForCountryProvinces(ascDescEnum.Descending)"
        *ngIf="appStateService.CountryProvincesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionCountry(countrySubComponentEnum.Files)"
    (click)="componentShowService.ShowCountry(countrySubComponentEnum.Files)"
    title="{{ appLanguageService.CountryShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.CountryFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebCountry?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebCountry?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>                                                                                                        
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionCountry(countrySubComponentEnum.OpenDataNational)"
    (click)="componentShowService.ShowCountry(countrySubComponentEnum.OpenDataNational)"
    title="{{ appLanguageService.CountryShowOpenDataNationalTools[appLanguageService.LangID] }}">
    {{ appLanguageService.CountryOpenDataNational[appLanguageService.LangID] }}
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionCountry(countrySubComponentEnum.EmailDistributionList)"
    (click)="componentShowService.ShowCountry(countrySubComponentEnum.EmailDistributionList)"
    title="{{ appLanguageService.CountryShowEmailDistributionList[appLanguageService.LangID] }}">
    {{ appLanguageService.CountryEmailDistributionList[appLanguageService.LangID] }}
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionCountry(countrySubComponentEnum.RainExceedance)"
    (click)="componentShowService.ShowCountry(countrySubComponentEnum.RainExceedance)"
    title="{{ appLanguageService.CountryShowRainExceedance[appLanguageService.LangID] }}">
    {{ appLanguageService.CountryRainExceedance[appLanguageService.LangID] }}
</button>

<app-province-tvitem-list-item *ngIf="appStateService.CountrySubComponent == countrySubComponentEnum.Provinces"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebCountry?.TVItemModelProvinceList))">
</app-province-tvitem-list-item>

<app-file-list *ngIf="appStateService.CountrySubComponent == countrySubComponentEnum.Files"
    [TVFileModelListList]="appLoadedService.WebCountry?.TVFileModelList">
</app-file-list>

<div *ngIf="appStateService.CountrySubComponent == countrySubComponentEnum.OpenDataNational">
    <app-open-data-national-item ></app-open-data-national-item>
</div>

<div *ngIf="appStateService.CountrySubComponent == countrySubComponentEnum.EmailDistributionList">
    <app-email-distribution-list-item ></app-email-distribution-list-item>
</div>

<div *ngIf="appStateService.CountrySubComponent == countrySubComponentEnum.RainExceedance">
    <app-rain-exceedance-item></app-rain-exceedance-item>
</div>