<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.MWQMSites)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.MWQMSites)"
    title="{{ appLanguageService.SubsectorShowMWQMSites[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorMWQMSites[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.MWQMSite) }}&nbsp;&nbsp;
        </span>                
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForSubsectorMWQMSites(ascDescEnum.Ascending)"
        *ngIf="appStateService.SubsectorMWQMSitesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForSubsectorMWQMSites(ascDescEnum.Ascending)"
        *ngIf="appStateService.SubsectorMWQMSitesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.Analysis)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.Analysis)"
    title="{{ appLanguageService.SubsectorShowAnalysis[appLanguageService.LangID] }}">
    {{ appLanguageService.SubsectorAnalysis[appLanguageService.LangID] }}
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.MWQMRuns)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.MWQMRuns)"
    title="{{ appLanguageService.SubsectorShowMWQMRuns[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorMWQMRuns[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.MWQMRun) }}&nbsp;&nbsp;
        </span>                        
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForSubsectorMWQMRuns(ascDescEnum.Ascending)"
        *ngIf="appStateService.SubsectorMWQMRunsSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForSubsectorMWQMRuns(ascDescEnum.Descending)"
        *ngIf="appStateService.SubsectorMWQMRunsSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.PollutionSourceSites)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.PollutionSourceSites)"
    title="{{ appLanguageService.SubsectorShowPollutionSourceSites[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorPollutionSourceSites[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.PolSourceSite) }}&nbsp;&nbsp;
        </span>                                
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForSubsectorPolSourceSites(ascDescEnum.Ascending)"
        *ngIf="appStateService.SubsectorPolSourceSitesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForSubsectorPolSourceSites(ascDescEnum.Descending)"
        *ngIf="appStateService.SubsectorPolSourceSitesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.Files)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.Files)"
    title="{{ appLanguageService.SubsectorShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>                                        
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.SubsectorTools)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.SubsectorTools)"
    title="{{ appLanguageService.SubsectorShowSubsectorTools[appLanguageService.LangID] }}">
    {{ appLanguageService.SubsectorSubsectorTools[appLanguageService.LangID] }}
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSubsector(subsectorSubComponentEnum.LogBook)"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.LogBook)"
    title="{{ appLanguageService.SubsectorShowLogBook[appLanguageService.LangID] }}">
    {{ appLanguageService.SubsectorLogBook[appLanguageService.LangID] }}
</button>

<app-mwqm-site-tvitem-list-item
    *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.MWQMSites"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebSubsector?.TVItemModelMWQMSiteList))">
</app-mwqm-site-tvitem-list-item>

<div *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.Analysis">
    <app-analysis-item
    [TVItemModelList]="appLoadedService.WebSubsector?.TVItemModelMWQMSiteList"
    [StatMWQMSiteList]="appLoadedService.StatMWQMSiteList"
    [StatMWQMRunList]="appLoadedService.StatMWQMRunList"
    ></app-analysis-item>
</div>

<app-mwqm-run-tvitem-list-item
    *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.MWQMRuns"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebSubsector?.TVItemModelMWQMRunList))">
</app-mwqm-run-tvitem-list-item>

<app-pol-source-site-tvitem-list-item
    *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.PollutionSourceSites"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebSubsector?.TVItemModelPolSourceSiteList))">
</app-pol-source-site-tvitem-list-item>

<app-file-list *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.Files"
    [TVFileModelListList]="appLoadedService.WebSubsector.TVFileModelList">
</app-file-list>

<div *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.SubsectorTools">
    <app-subsector-tools-item></app-subsector-tools-item>
</div>

<div *ngIf="appStateService.SubsectorSubComponent == subsectorSubComponentEnum.LogBook">
    <app-log-book-item></app-log-book-item>
</div>