<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.MWQMSites ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.MWQMSites)"
    title="{{ appLanguageService.SubsectorShowMWQMSites[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorMWQMSites[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel,
            tvTypeEnum.MWQMSite) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.SubsectorMWQMSitesSortOrder == ascDescEnum.Descending"
        (click)="appStateService.UserPreference.SubsectorMWQMSitesSortOrder = ascDescEnum.Ascending">
        &nbsp;&nbsp;&#8679;
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.SubsectorMWQMSitesSortOrder == ascDescEnum.Ascending"
        (click)="appStateService.UserPreference.SubsectorMWQMSitesSortOrder = ascDescEnum.Descending">
        &nbsp;&nbsp;&#8681;
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.Analysis ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.Analysis)"
    title="{{ appLanguageService.SubsectorShowAnalysis[appLanguageService.LangID] }}">
    {{ appLanguageService.SubsectorAnalysis[appLanguageService.LangID] }}
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.MWQMRuns ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.MWQMRuns)"
    title="{{ appLanguageService.SubsectorShowMWQMRuns[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorMWQMRuns[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.MWQMRun)
            }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.SubsectorMWQMRunsSortOrder == ascDescEnum.Descending"
        (click)="appStateService.UserPreference.SubsectorMWQMRunsSortOrder = ascDescEnum.Ascending">
        &nbsp;&nbsp;&#8679;
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.SubsectorMWQMRunsSortOrder == ascDescEnum.Ascending"
        (click)="appStateService.UserPreference.SubsectorMWQMRunsSortOrder = ascDescEnum.Descending">
        &nbsp;&nbsp;&#8681;
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.PollutionSourceSites ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.PollutionSourceSites)"
    title="{{ appLanguageService.SubsectorShowPollutionSourceSites[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorPollutionSourceSites[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel,
            tvTypeEnum.PolSourceSite) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.SubsectorPolSourceSitesSortOrder == ascDescEnum.Descending"
        (click)="appStateService.UserPreference.SubsectorPolSourceSitesSortOrder = ascDescEnum.Ascending">
        &nbsp;&nbsp;&#8679;
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.SubsectorPolSourceSitesSortOrder == ascDescEnum.Ascending"
        (click)="appStateService.UserPreference.SubsectorPolSourceSitesSortOrder = ascDescEnum.Descending">
        &nbsp;&nbsp;&#8681;
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.Files ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.Files)"
    title="{{ appLanguageService.SubsectorShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SubsectorFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.File)
            }} /
            {{ statCountService.GetStatCount(appLoadedService.WebSubsector?.TVItemModel, tvTypeEnum.TotalFile)
            }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.SubsectorTools ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.SubsectorTools)"
    title="{{ appLanguageService.SubsectorShowSubsectorTools[appLanguageService.LangID] }}">
    {{ appLanguageService.SubsectorSubsectorTools[appLanguageService.LangID] }}
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.LogBook ? 'selected' : ''"
    (click)="componentShowService.ShowSubsector(subsectorSubComponentEnum.LogBook)"
    title="{{ appLanguageService.SubsectorShowLogBook[appLanguageService.LangID] }}">
    {{ appLanguageService.SubsectorLogBook[appLanguageService.LangID] }}
</button>

<app-mwqm-site-tvitem-list-item *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.MWQMSites"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(mwqmSiteService.GetMWQMSiteTVItemModelList(appLoadedService.WebMWQMSites?.MWQMSiteModelList)))">
</app-mwqm-site-tvitem-list-item>

<div *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.Analysis">
    <app-analysis-item [TVItemModelList]="mwqmSiteService.GetMWQMSiteTVItemModelList(appLoadedService.WebMWQMSites?.MWQMSiteModelList)"
        [StatMWQMSiteList]="appLoadedService.StatMWQMSiteList" [StatMWQMRunList]="appLoadedService.StatMWQMRunList">
    </app-analysis-item>
</div>

<app-mwqm-run-tvitem-list-item *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.MWQMRuns"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(mwqmRunService.GetMWQMRunTVItemModelList(appLoadedService.WebMWQMRuns?.MWQMRunModelList)))">
</app-mwqm-run-tvitem-list-item>

<app-pol-source-site-tvitem-list-item
    *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.PollutionSourceSites"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(polSourceSiteService.GetPolSourceSiteTVItemModelList(appLoadedService.WebPolSourceSites?.PolSourceSiteModelList)))">
</app-pol-source-site-tvitem-list-item>

<app-file-list *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.Files"
    [TVType]="tvTypeEnum.Subsector">
</app-file-list>

<div *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.SubsectorTools">
    <app-subsector-tools-item></app-subsector-tools-item>
</div>

<div *ngIf="appStateService.UserPreference.SubsectorSubComponent == subsectorSubComponentEnum.LogBook">
    <app-log-book-item></app-log-book-item>
</div>