<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.Infrastructures ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.Infrastructures)"
    title="{{ appLanguageService.MunicipalityShowInfrastructures[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityInfrastructures[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.Infrastructure) }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button [ngClass]="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.Contacts ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.Contacts)"
    title="{{ appLanguageService.MunicipalityShowContacts[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityContacts[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.Contact) }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button [ngClass]="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.MIKEScenarios ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.MIKEScenarios)"
    title="{{ appLanguageService.MunicipalityShowMikeScenarios[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityMikeScenarios[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.MikeScenario) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForMunicipalityMikeScenarios(ascDescEnum.Ascending)"
        *ngIf="appStateService.MunicipalityMikeScenariosSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForMunicipalityMikeScenarios(ascDescEnum.Descending)"
        *ngIf="appStateService.MunicipalityMikeScenariosSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.Files ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.Files)"
    title="{{ appLanguageService.MunicipalityShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>
    </span>
</button>

<div *ngIf="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.Infrastructures">
    <app-infrastructure-item></app-infrastructure-item>
</div>

<app-mike-scenario-tvitem-list-item
    *ngIf="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.MIKEScenarios"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebMunicipality?.TVItemModelMikeScenarioList))">
</app-mike-scenario-tvitem-list-item>

<app-file-list
    *ngIf="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.Files"   
    [TVFileModelListList]="structureTVFileListService.StructureTVFileList(appLoadedService.WebMunicipality?.TVFileModelList)">
</app-file-list>

<div *ngIf="appStateService.MunicipalitySubComponent == municipalitySubComponentEnum.Contacts">
    <app-contact-item ></app-contact-item>
</div>