<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button
    [ngClass]="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.Infrastructures ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.Infrastructures)"
    title="{{ appLanguageService.MunicipalityShowInfrastructures[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityInfrastructures[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel,
            tvTypeEnum.Infrastructure) }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.Contacts ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.Contacts)"
    title="{{ appLanguageService.MunicipalityShowContacts[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityContacts[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel,
            tvTypeEnum.Contact) }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.MIKEScenarios ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.MIKEScenarios)"
    title="{{ appLanguageService.MunicipalityShowMikeScenarios[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityMikeScenarios[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel,
            tvTypeEnum.MikeScenario) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow"
        *ngIf="appStateService.UserPreference.MunicipalityMikeScenariosSortOrder == ascDescEnum.Descending"
        (click)="appStateService.UserPreference.MunicipalityMikeScenariosSortOrder = ascDescEnum.Ascending">
        &nbsp;&nbsp;&#8679;
    </span>
    <span class="biggerArrow"
        *ngIf="appStateService.UserPreference.MunicipalityMikeScenariosSortOrder == ascDescEnum.Ascending"
        (click)="appStateService.UserPreference.MunicipalityMikeScenariosSortOrder = ascDescEnum.Descending">
        &nbsp;&nbsp;&#8681;
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.Files ? 'selected' : ''"
    (click)="componentShowService.ShowMunicipality(municipalitySubComponentEnum.Files)"
    title="{{ appLanguageService.MunicipalityShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.MunicipalityFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.File)
            }} /
            {{ statCountService.GetStatCount(appLoadedService.WebMunicipality?.TVItemModel, tvTypeEnum.TotalFile)
            }}&nbsp;&nbsp;
        </span>
    </span>
</button>

<app-infrastructure-item-list
    *ngIf="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.Infrastructures">
</app-infrastructure-item-list>

<div *ngIf="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.Contacts">
    <app-contact-item [MunicipalityTVItemModel]="appLoadedService.WebMunicipality?.TVItemModel"></app-contact-item>
</div>

<app-mike-scenario-tvitem-list-item
    *ngIf="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.MIKEScenarios"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebMikeScenarios?.MikeScenarioModelList?.TVItemModelMikeScenarioList))">
</app-mike-scenario-tvitem-list-item>

<app-file-list *ngIf="appStateService.UserPreference.MunicipalitySubComponent == municipalitySubComponentEnum.Files"
    [TVType]="tvTypeEnum.Municipality">
</app-file-list>

