<span *ngIf="(appStateService.AppState$ | async).Working">
</span>
<span *ngIf="(appLoadedService.AppLoaded$ | async).Working">
</span>

<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.Areas)"
    (click)="Show(provinceSubComponentEnum.Areas)"
    title="{{ appLanguageService.AppLanguage.ProvinceShowAreas[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.ProvinceAreas[appStateService.AppState$?.getValue().Language] }}
        <span class="badge-stat" *ngIf="appStateService.AppState$.getValue().StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebProvince?.TVItemModel, tvTypeEnum.Area) }}&nbsp;&nbsp;
        </span>                                                                        
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder('ProvinceAreasSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().ProvinceAreasSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder('ProvinceAreasSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().ProvinceAreasSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.Municipalities)"
    (click)="Show(provinceSubComponentEnum.Municipalities)"
    title="{{ appLanguageService.AppLanguage.ProvinceShowMunicipalities[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.ProvinceMunicipalities[appStateService.AppState$?.getValue().Language] }}
        <span class="badge-stat" *ngIf="appStateService.AppState$.getValue().StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebProvince?.TVItemModel, tvTypeEnum.Municipality) }}&nbsp;&nbsp;
        </span>                                                                                
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder('ProvinceMunicipalitiesSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().ProvinceMunicipalitiesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder('ProvinceMunicipalitiesSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().ProvinceMunicipalitiesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.Files)"
    (click)="Show(provinceSubComponentEnum.Files)"
    title="{{ appLanguageService.AppLanguage.ProvinceShowFiles[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.ProvinceFiles[appStateService.AppState$?.getValue().Language] }}
        <span class="badge-stat" *ngIf="appStateService.AppState$.getValue().StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebProvince?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebProvince?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>                                                                                        
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.OpenData)"
    (click)="Show(provinceSubComponentEnum.OpenData)"
    title="{{ appLanguageService.AppLanguage.ProvinceShowOpenData[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.ProvinceOpenData[appStateService.AppState$?.getValue().Language] }}
</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.SamplingPlan)"
    (click)="Show(provinceSubComponentEnum.SamplingPlan)"
    title="{{ appLanguageService.AppLanguage.ProvinceShowSamplingPlan[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.ProvinceSamplingPlan[appStateService.AppState$?.getValue().Language] }}
</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.ProvinceTools)"
    (click)="Show(provinceSubComponentEnum.ProvinceTools)"
    title="{{ appLanguageService.AppLanguage.ProvinceShowProvinceTools[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.ProvinceProvinceTools[appStateService.AppState$?.getValue().Language] }}
</button>

<app-tvitem-list *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.Areas"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.AppLoaded$?.getValue()?.ProvinceAreaList">
</app-tvitem-list>

<app-tvitem-list
    *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.Municipalities"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.AppLoaded$?.getValue()?.ProvinceMunicipalityList">
</app-tvitem-list>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelListList]="appLoadedService.AppLoaded$?.getValue()?.ProvinceFileListList">
</app-file-list>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.OpenData">
    Not implemented yet. Need to create OpenDataComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.SamplingPlan">
    Not implemented yet. Need to create SamplingPlanComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.ProvinceTools">
    Not implemented yet. Need to create ProvinceToolsComponent.
</div>