<div class="margin10">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{
                    appLanguageService.AnalysisOptionsAnalysisOptions[appLanguageService.LangID]
                    }}
                </mat-panel-title>
                <mat-panel-description>
                    <strong>{{
                        appLanguageService.AnalysisOptionsStart[appLanguageService.LangID]
                        }}:</strong>&nbsp;
                    {{ appStateService.AnalysisStartRun?.RunDate | date:'yyyy-MMM-dd' }}&nbsp;
                    <strong>{{
                        appLanguageService.AnalysisOptionsEnd[appLanguageService.LangID]
                        }}:</strong>&nbsp;
                    {{ appStateService.AnalysisEndRun?.RunDate | date:'yyyy-MMM-dd' }}&nbsp;
                    <strong>{{
                        appLanguageService.AnalysisOptionsRuns[appLanguageService.LangID]
                        }}:</strong>&nbsp;
                    {{ appStateService.UserPreference.AnalysisRuns }}&nbsp;
                    <strong>{{
                        appLanguageService.AnalysisOptionsCalculation[appLanguageService.LangID]
                        }}:</strong>&nbsp;
                    {{
                    analysisService.GetAnalysisCalculationTypeEnum_GetIDText(appStateService.UserPreference.AnalysisCalculationType)
                    }}&nbsp;
                    <!-- <strong>{{ appStateService.AnalysisShowOnlyUsed ? 'Show only used' : 'Show All' }}</strong>&nbsp; -->

                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="formStat">
                        <mat-form-field>
                            <mat-select #SR formControlName="AnalysisStartRun"
                                (selectionChange)="analysisService.SetStartRun(SR.value)">
                                <mat-option
                                    *ngFor="let StatStartMWQMRun of appLoadedService.StatMWQMRunList"
                                    [value]="StatStartMWQMRun">
                                    {{ StatStartMWQMRun?.RunDate | date:'yyyy-MMM-dd' }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsStartDate[appLanguageService.LangID]
                                }}</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select #ER formControlName="AnalysisEndRun"
                                (selectionChange)="analysisService.SetEndRun(ER.value)">
                                <mat-option
                                    *ngFor="let StatEndMWQMRun of appLoadedService.StatMWQMRunList"
                                    [value]="StatEndMWQMRun">
                                    {{ StatEndMWQMRun?.RunDate | date:'yyyy-MMM-dd' }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsEndDate[appLanguageService.LangID]
                                }}</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select #R formControlName="AnalysisRuns"
                                (selectionChange)="analysisService.SetRuns(R.value)">
                                <mat-option *ngFor="let r of StatMWQMRunList; let i = index" [value]="i">
                                    {{ i }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsRuns[appLanguageService.LangID]
                                }}</mat-label>
                        </mat-form-field>
                        <!-- <mat-checkbox (click)="togglesService.ToggleAnalysisFullYear()"
                            formControlName="AnalysisFullYear"
                            [value]="appStateService..AnalysisFullYear">
                            Full Year</mat-checkbox>
                        <mat-checkbox (click)="togglesService.ToggleAnalysisShowOnlyUsed()"
                            formControlName="AnalysisShowOnlyUsed"
                            [value]="appStateService.AnalysisShowOnlyUsed">Show only used
                        </mat-checkbox> -->
                        <br />
                        <mat-form-field>
                            <mat-select #Cal formControlName="AnalysisCalculationType"
                                (selectionChange)="analysisService.SetCalculationType(Cal.value)">
                                <mat-option *ngFor="let CalType of enumIDAndTextList" [value]="CalType.EnumID">
                                    {{ CalType.EnumText }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsCalculation[appLanguageService.LangID]
                                }}</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select #Sal formControlName="AnalysisHighlightSalFromAverage"
                                (selectionChange)="analysisService.SetHighlightSalFromAverage(Sal.value)">
                                <mat-option *ngFor="let val of salDevVal" [value]="val">
                                    {{ val }} {{
                                    appLanguageService.AnalysisOptionsPPT[appLanguageService.LangID]
                                    }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsHighlightSal[appLanguageService.LangID]
                                }}</mat-label>
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <mat-select #ShortRange formControlName="AnalysisShortRange"
                                (selectionChange)="SetShortRange(ShortRange.value)">
                                <mat-option *ngFor="let val of rangeVal" [value]="val">
                                    Last {{ val }} days
                                </mat-option>
                            </mat-select>
                            <mat-label>Short Range</mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select #MidRange formControlName="AnalysisMidRange"
                                (selectionChange)="SetMidRange(MidRange.value)">
                                <mat-option *ngFor="let val of rangeVal" [value]="val">
                                    Extra {{ val }} days from short range
                                </mat-option>
                            </mat-select>
                            <mat-label>Mid Range (will add short range on top)</mat-label>
                        </mat-form-field> -->
                        <h2>{{
                            appLanguageService.AnalysisOptionsUpperLowerRainLimit[appLanguageService.LangID]
                            }}</h2>
                        <span>{{
                            appLanguageService.AnalysisOptionsConsideredDry[appLanguageService.LangID]
                            }}:&nbsp;</span>
                        <mat-form-field class="narrow">
                            <mat-select #Dry24h formControlName="AnalysisDry24h"
                                (selectionChange)="analysisService.SetDry24h(Dry24h.value)">
                                <mat-option *ngFor="let val of dryRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsDry[appLanguageService.LangID]
                                }} 24 h (mm)</mat-label>
                        </mat-form-field>
                        <mat-form-field class="narrow">
                            <mat-select #Dry48h formControlName="AnalysisDry48h"
                                (selectionChange)="analysisService.SetDry48h(Dry48h.value)">
                                <mat-option *ngFor="let val of dryRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsDry[appLanguageService.LangID]
                                }} 48 h (mm)</mat-label>
                        </mat-form-field>
                        <mat-form-field class="narrow">
                            <mat-select #Dry72h formControlName="AnalysisDry72h"
                                (selectionChange)="analysisService.SetDry72h(Dry72h.value)">
                                <mat-option *ngFor="let val of dryRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsDry[appLanguageService.LangID]
                                }} 72 h (mm)</mat-label>
                        </mat-form-field>
                        <mat-form-field class="narrow">
                            <mat-select #Dry96h formControlName="AnalysisDry96h"
                                (selectionChange)="analysisService.SetDry96h(Dry96h.value)">
                                <mat-option *ngFor="let val of dryRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsDry[appLanguageService.LangID]
                                }} 96 h (mm)</mat-label>
                        </mat-form-field>
                        <br />
                        <span>{{
                            appLanguageService.AnalysisOptionsConsideredWet[appLanguageService.LangID]
                            }}:&nbsp;</span>
                        <mat-form-field class="narrow">
                            <mat-select #Wet24h formControlName="AnalysisWet24h"
                                (selectionChange)="analysisService.SetWet24h(Wet24h.value)">
                                <mat-option *ngFor="let val of wetRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsWet[appLanguageService.LangID]
                                }} 24 h (mm)</mat-label>
                        </mat-form-field>
                        <mat-form-field class="narrow">
                            <mat-select #Wet48h formControlName="AnalysisWet48h"
                                (selectionChange)="analysisService.SetWet48h(Wet48h.value)">
                                <mat-option *ngFor="let val of wetRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsWet[appLanguageService.LangID]
                                }} 48 h (mm)</mat-label>
                        </mat-form-field>
                        <mat-form-field class="narrow">
                            <mat-select #Wet72h formControlName="AnalysisWet72h"
                                (selectionChange)="analysisService.SetWet72h(Wet72h.value)">
                                <mat-option *ngFor="let val of wetRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsWet[appLanguageService.LangID]
                                }} 72 h (mm)</mat-label>
                        </mat-form-field>
                        <mat-form-field class="narrow">
                            <mat-select #Wet96h formControlName="AnalysisWet96h"
                                (selectionChange)="analysisService.SetWet96h(Wet96h.value)">
                                <mat-option *ngFor="let val of wetRain_mm_List" [value]="val">
                                    {{ val }}
                                </mat-option>
                            </mat-select>
                            <mat-label>{{
                                appLanguageService.AnalysisOptionsWet[appLanguageService.LangID]
                                }} 96 h (mm)</mat-label>
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>