<ng-container>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="appStateService.AppState$?.getValue()?.EditVisible">
            <button class="selected" mat-menu-item (click)="ShowEdit(TVFileModel)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </ng-container>
        <button mat-menu-item (click)="ShowData(TVFileModel)">
            <mat-icon>more_horiz</mat-icon>
            <span>More information</span>
        </button>
    </mat-menu>
</ng-container>