<mat-card class="mat-elevation-z5">
    <mat-card-content>
        <button mat-raised-button [ngClass]="ChartsVisible ? 'selected' : ''" (click)="ChartsVisible = !ChartsVisible">
            {{ appLanguageService.Charts[appLanguageService.LangID] }}
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button [ngClass]="TablesVisible ? 'selected' : ''" (click)="TablesVisible = !TablesVisible">
            {{ appLanguageService.Tables[appLanguageService.LangID] }}
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button [ngClass]="FilesVisible ? 'selected' : ''" (click)="FilesVisible = !FilesVisible">
            {{ appLanguageService.Files[appLanguageService.LangID] }}
            &nbsp;&nbsp;({{ GetFileCount() }})
        </button>

        <app-mwqm-site-item-view-charts *ngIf="ChartsVisible" [TVItemModel]="TVItemModel">
        </app-mwqm-site-item-view-charts>

        <app-mwqm-site-item-view-tables *ngIf="TablesVisible" [TVItemModel]="TVItemModel">
        </app-mwqm-site-item-view-tables>

        <app-mwqm-site-item-view-files *ngIf="FilesVisible" [TVItemModel]="TVItemModel">
        </app-mwqm-site-item-view-files>

    </mat-card-content>
</mat-card>