<mat-card class="mat-elevation-z0">
    <mat-card-content>
        <app-chart-base [webChartAndTableType]="webChartAndTableType.MWQMSiteFCSalTempData" [TVItemModel]="TVItemModel"
            [ChartVisible]="false">
        </app-chart-base>

        <app-chart-base [webChartAndTableType]="webChartAndTableType.MWQMSiteFCStats" [TVItemModel]="TVItemModel"
            [ChartVisible]="false">
        </app-chart-base>

        <app-table-base [webChartAndTableType]="webChartAndTableType.MWQMSiteFCStats" [TVItemModel]="TVItemModel"
            [TableVisible]="false">
        </app-table-base>
    </mat-card-content>
</mat-card>