<blockquote>
    <span *ngIf="tvTypeEnum.Sector">
        <span>{{ appLanguageService.TVItemListDetailAreaSector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Sector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Subsector">
        <span>{{ appLanguageService.TVItemListDetailAreaSubsector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSiteSample">
        <span>{{ appLanguageService.TVItemListDetailAreaMWQMSample[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSite">
        <span>{{ appLanguageService.TVItemListDetailAreaMWQMSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMRun">
        <span>{{ appLanguageService.TVItemListDetailAreaMWQMRun[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.PolSourceSite">
        <span>{{ appLanguageService.TVItemListDetailAreaPolSourceSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.PolSourceSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <hr />
</blockquote>