<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.Areas ? 'selected' : ''"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.Areas)"
    title="{{ appLanguageService.ProvinceShowAreas[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.ProvinceAreas[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.Area)
            }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.ProvinceAreasSortOrder == ascDescEnum.Descending"
        (click)="appStateService.UserPreference.ProvinceAreasSortOrder = ascDescEnum.Ascending">
        &nbsp;&nbsp;&#8679;
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.ProvinceAreasSortOrder == ascDescEnum.Ascending"
        (click)="appStateService.UserPreference.ProvinceAreasSortOrder = ascDescEnum.Descending">
        &nbsp;&nbsp;&#8681;
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.Municipalities ? 'selected' : ''"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.Municipalities)"
    title="{{ appLanguageService.ProvinceShowMunicipalities[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.ProvinceMunicipalities[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel,
            tvTypeEnum.Municipality) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.ProvinceMunicipalitiesSortOrder == ascDescEnum.Descending"
        (click)="appStateService.UserPreference.ProvinceMunicipalitiesSortOrder = ascDescEnum.Ascending">
        &nbsp;&nbsp;&#8679;
    </span>
    <span class="biggerArrow" *ngIf="appStateService.UserPreference.ProvinceMunicipalitiesSortOrder == ascDescEnum.Ascending"
        (click)="appStateService.UserPreference.ProvinceMunicipalitiesSortOrder = ascDescEnum.Descending">
        &nbsp;&nbsp;&#8681;
    </span>
</button>
<button mat-button [ngClass]="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.Files ? 'selected' : ''"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.Files)"
    title="{{ appLanguageService.ProvinceShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.ProvinceFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.UserPreference.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.File) }} /
            {{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.TotalFile)
            }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.OpenData ? 'selected' : ''"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.OpenData)"
    title="{{ appLanguageService.ProvinceShowOpenData[appLanguageService.LangID] }}">
    {{ appLanguageService.ProvinceOpenData[appLanguageService.LangID] }}
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.SamplingPlan ? 'selected' : ''"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.SamplingPlan)"
    title="{{ appLanguageService.ProvinceShowSamplingPlan[appLanguageService.LangID] }}">
    {{ appLanguageService.ProvinceSamplingPlan[appLanguageService.LangID] }}
</button>
<button mat-button
    [ngClass]="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.ProvinceTools ? 'selected' : ''"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.ProvinceTools)"
    title="{{ appLanguageService.ProvinceShowProvinceTools[appLanguageService.LangID] }}">
    {{ appLanguageService.ProvinceProvinceTools[appLanguageService.LangID] }}
</button>

<app-area-tvitem-list-item *ngIf="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.Areas"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebProvince?.TVItemModelAreaList))">
</app-area-tvitem-list-item>

<app-municipality-tvitem-list-item
    *ngIf="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.Municipalities"
    [TVItemModelInfrastructureModel]="sortTVItemMunicipalityListService.SortTVItemMunicipalityList(filterService.FilterTVItemModelList(appLoadedService.WebProvince?.TVItemModelMunicipalityList))">
</app-municipality-tvitem-list-item>

<app-file-list *ngIf="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.Files"
    [TVType]="tvTypeEnum.Province">
</app-file-list>

<div *ngIf="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.OpenData">
    <app-open-data-item></app-open-data-item>
</div>

<div *ngIf="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.SamplingPlan">
    <app-sampling-plan-item></app-sampling-plan-item>
</div>

<div *ngIf="appStateService.UserPreference.ProvinceSubComponent == provinceSubComponentEnum.ProvinceTools">
    <app-provincial-tools-item></app-provincial-tools-item>
</div>