<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionProvince(provinceSubComponentEnum.Areas)"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.Areas)"
    title="{{ appLanguageService.ProvinceShowAreas[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.ProvinceAreas[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.Area) }}&nbsp;&nbsp;
        </span>                                                                        
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForProvinceAreas(ascDescEnum.Ascending)"
        *ngIf="appStateService.ProvinceAreasSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForProvinceAreas(ascDescEnum.Descending)"
        *ngIf="appStateService.ProvinceAreasSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionProvince(provinceSubComponentEnum.Municipalities)"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.Municipalities)"
    title="{{ appLanguageService.ProvinceShowMunicipalities[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.ProvinceMunicipalities[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.Municipality) }}&nbsp;&nbsp;
        </span>                                                                                
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForProvinceMunicipalities(ascDescEnum.Ascending)"
        *ngIf="appStateService.ProvinceMunicipalitiesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="ChangeSortOrderForProvinceMunicipalities(ascDescEnum.Descending)"
        *ngIf="appStateService.ProvinceMunicipalitiesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionProvince(provinceSubComponentEnum.Files)"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.Files)"
    title="{{ appLanguageService.ProvinceShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.ProvinceFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebProvince?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>                                                                                        
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionProvince(provinceSubComponentEnum.OpenData)"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.OpenData)"
    title="{{ appLanguageService.ProvinceShowOpenData[appLanguageService.LangID] }}">
    {{ appLanguageService.ProvinceOpenData[appLanguageService.LangID] }}
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionProvince(provinceSubComponentEnum.SamplingPlan)"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.SamplingPlan)"
    title="{{ appLanguageService.ProvinceShowSamplingPlan[appLanguageService.LangID] }}">
    {{ appLanguageService.ProvinceSamplingPlan[appLanguageService.LangID] }}
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionProvince(provinceSubComponentEnum.ProvinceTools)"
    (click)="componentShowService.ShowProvince(provinceSubComponentEnum.ProvinceTools)"
    title="{{ appLanguageService.ProvinceShowProvinceTools[appLanguageService.LangID] }}">
    {{ appLanguageService.ProvinceProvinceTools[appLanguageService.LangID] }}
</button>

<app-area-tvitem-list-item *ngIf="appStateService.ProvinceSubComponent == provinceSubComponentEnum.Areas"
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebProvince?.TVItemModelAreaList))">
</app-area-tvitem-list-item>

<app-municipality-tvitem-list-item
    *ngIf="appStateService.ProvinceSubComponent == provinceSubComponentEnum.Municipalities"   
    [TVItemModelList]="sortTVItemListService.SortTVItemList(filterService.FilterTVItemModelList(appLoadedService.WebProvince?.TVItemModelMunicipalityList))">
</app-municipality-tvitem-list-item>

<app-file-list *ngIf="appStateService.ProvinceSubComponent == provinceSubComponentEnum.Files"
    [TVFileModelListList]="appLoadedService.WebProvince.TVFileModelList">
</app-file-list>

<div *ngIf="appStateService.ProvinceSubComponent == provinceSubComponentEnum.OpenData">
    <app-open-data-item></app-open-data-item>
</div>

<div *ngIf="appStateService.ProvinceSubComponent == provinceSubComponentEnum.SamplingPlan">
    <app-sampling-plan-item></app-sampling-plan-item>
</div>

<div *ngIf="appStateService.ProvinceSubComponent == provinceSubComponentEnum.ProvinceTools">
    <app-provincial-tools-item></app-provincial-tools-item>
</div>