<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSector(sectorSubComponentEnum.Subsectors)"
    (click)="componentShowService.ShowSector(sectorSubComponentEnum.Subsectors)"
    title="{{ appLanguageService.SectorShowSubsectors[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SectorSubsectors[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSector?.TVItemModel, tvTypeEnum.Subsector) }}&nbsp;&nbsp;
        </span>                                                
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorSubsectors, ascDescEnum.Ascending)"
        *ngIf="appStateService.SectorSubsectorsSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorSubsectors, ascDescEnum.Descending)"
        *ngIf="appStateService.SectorSubsectorsSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSector(sectorSubComponentEnum.Files)" 
(click)="componentShowService.ShowSector(sectorSubComponentEnum.Files)"
    title="{{ appLanguageService.SectorShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SectorFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSector?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebSector?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>                                                        
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSector(sectorSubComponentEnum.MIKEScenarios)"
    (click)="componentShowService.ShowSector(sectorSubComponentEnum.MIKEScenarios)"
    title="{{ appLanguageService.SectorShowMIKEScenarios[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.SectorMIKEScenarios[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebSector?.TVItemModel, tvTypeEnum.MikeScenario) }}&nbsp;&nbsp;
        </span>                                                                
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorMikeScenarios, ascDescEnum.Ascending)"
        *ngIf="appStateService.SectorMikeScenariosSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorMikeScenarios, ascDescEnum.Descending)"
        *ngIf="appStateService.SectorMikeScenariosSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>

<app-subsector-tvitem-list-item *ngIf="appStateService.SectorSubComponent == sectorSubComponentEnum.Subsectors"
    
    [TVItemModelList]="appLoadedService.WebSector.TVItemModelSubsectorList">
</app-subsector-tvitem-list-item>

<app-file-list *ngIf="appStateService.SectorSubComponent == sectorSubComponentEnum.Files"
    
    [TVFileModelListList]="appLoadedService.WebSector.TVFileModelList">
</app-file-list>
