<span *ngIf="(appStateService.AppState$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="(appStateService.AppState$ | async).Status">
    {{ appStateService.AppState$?.getValue()?.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSector(sectorSubComponentEnum.Subsectors)"
    (click)="componentShowService.ShowSector(sectorSubComponentEnum.Subsectors)"
    title="{{ appLanguageService.AppLanguage.SectorShowSubsectors[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SectorSubsectors[appStateService.AppState$?.getValue().Language] }}
        <span class="badge-stat" *ngIf="appStateService.AppState$.getValue().StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebSector?.TVItemModel, tvTypeEnum.Subsector) }}&nbsp;&nbsp;
        </span>                                                
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorSubsectors, ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().SectorSubsectorsSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorSubsectors, ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().SectorSubsectorsSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSector(sectorSubComponentEnum.Files)" 
(click)="componentShowService.ShowSector(sectorSubComponentEnum.Files)"
    title="{{ appLanguageService.AppLanguage.SectorShowFiles[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SectorFiles[appStateService.AppState$?.getValue().Language] }}
        <span class="badge-stat" *ngIf="appStateService.AppState$.getValue().StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebSector?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebSector?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>                                                        
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionSector(sectorSubComponentEnum.MIKEScenarios)"
    (click)="componentShowService.ShowSector(sectorSubComponentEnum.MIKEScenarios)"
    title="{{ appLanguageService.AppLanguage.SectorShowMIKEScenarios[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SectorMIKEScenarios[appStateService.AppState$?.getValue().Language] }}
        <span class="badge-stat" *ngIf="appStateService.AppState$.getValue().StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.AppLoaded$.getValue().WebSector?.TVItemModel, tvTypeEnum.MikeScenario) }}&nbsp;&nbsp;
        </span>                                                                
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorMikeScenarios, ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().SectorMikeScenariosSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.SectorMikeScenarios, ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().SectorMikeScenariosSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>

<app-subsector-tvitem-list-item *ngIf="appStateService.AppState$?.getValue()?.SectorSubComponent == sectorSubComponentEnum.Subsectors"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.AppLoaded$?.getValue()?.SectorSubsectorList">
</app-subsector-tvitem-list-item>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.SectorSubComponent == sectorSubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelListList]="appLoadedService.AppLoaded$?.getValue()?.SectorFileListList">
</app-file-list>

<app-mike-scenario-tvitem-list-item
    *ngIf="appStateService.AppState$?.getValue()?.SectorSubComponent == sectorSubComponentEnum.MIKEScenarios"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.AppLoaded$?.getValue()?.SectorMIKEScenarioList">
</app-mike-scenario-tvitem-list-item>