
<mat-card>
    <mat-card-content>
        <button mat-raised-button (click)="ViewVisible = !ViewVisible" [ngClass]="ViewVisible ? 'selected' : ''">
            {{ appLanguageService.View[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="ModifyVisible = !ModifyVisible" [ngClass]="ModifyVisible ? 'selected' : ''">
            {{ appLanguageService.Modify[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="CreateVisible = !CreateVisible" [ngClass]="CreateVisible ? 'selected' : ''">
            {{ appLanguageService.Create[appLanguageService.LangID] }}
        </button>
        <app-contact-item-view *ngIf="ViewVisible" [MunicipalityTVItemModel]="MunicipalityTVItemModel">
        </app-contact-item-view>
        <app-contact-item-modify *ngIf="ModifyVisible" [MunicipalityTVItemModel]="MunicipalityTVItemModel">
        </app-contact-item-modify>
        <app-contact-item-create *ngIf="CreateVisible" [MunicipalityTVItemModel]="MunicipalityTVItemModel">
        </app-contact-item-create>
    </mat-card-content>
</mat-card>
