<ng-container *ngFor="let boxModelModel of InfrastructureModelPath?.InfrastructureModel?.BoxModelModelList">
    <h2> {{ boxModelModel.BoxModelLanguageList[appLanguageService.LangID].ScenarioName }}</h2>
    <mat-card>
        <h3>{{ appLanguageService.Input[appLanguageService.LangID] }}</h3>
        <blockquote>
            <!--T90_hour-->
            <span class="strongSpan">
                {{ appLanguageService.T90[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.T90_hour
                }} {{ appLanguageService.hours[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Temperature_C-->
            <span class="strongSpan">
                {{ appLanguageService.Temperature[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.Temperature_C
                }} {{ appLanguageService.DegCelciusSymbol[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--DecayRate_per_day-->
            <span class="strongSpan">
                {{ appLanguageService.DecayRate[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.DecayRate_per_day
                }} {{ appLanguageService.perDay[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Discharge-->
            <span class="strongSpan">
                {{ appLanguageService.Discharge[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.Discharge_m3_day
                }} {{ appLanguageService.cubicMeterPerDay[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Discharge duration-->
            <span class="strongSpan">
                {{ appLanguageService.DischargeDuration[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.DischargeDuration_hour
                }} {{ appLanguageService.hours[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Dilution-->
            <span class="strongSpan">
                {{ appLanguageService.Dilution[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.Dilution
                }} {{ appLanguageService.hours[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Depth-->
            <span class="strongSpan">
                {{ appLanguageService.Depth[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.Depth_m
                }} {{ appLanguageService.meters[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Untreated (FC)-->
            <span class="strongSpan">
                {{ appLanguageService.Untreated_FC[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.FCUntreated_MPN_100ml
                }} {{ appLanguageService.FCPer100mL[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Pre-disinfection (FC)-->
            <span class="strongSpan">
                {{ appLanguageService.Pre_disinfection_FC[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.FCPreDisinfection_MPN_100ml
                }} {{ appLanguageService.FCPer100mL[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>

            <!--Concentration objective (FC)-->
            <span class="strongSpan">
                {{ appLanguageService.Concentration_objective_FC[appLanguageService.LangID] }}:
            </span>
            <span>
                {{
                boxModelModel.BoxModel.Concentration_MPN_100ml
                }} {{ appLanguageService.FCPer100mL[appLanguageService.LangID] }}
            </span>
            <span>&nbsp;&nbsp;&nbsp;</span>
        </blockquote>
        <h3>{{ appLanguageService.CalculatedResult[appLanguageService.LangID] }}</h3>
        <blockquote>
            <ng-container *ngFor="let boxModelResult of boxModelModel.BoxModelResultList">
                <p class="showBlue">{{ GetTextOfBoxModelResultType(boxModelResult.BoxModelResultType) }}</p>
                <app-box-model-item-result [BoxModelResult]="boxModelResult">
                </app-box-model-item-result>
            </ng-container>
        </blockquote>
    </mat-card>
</ng-container>