<button mat-button *ngFor="let tvItemModel of appLoadedService.BreadCrumbTVItemModelList; let i = index"
    [ngClass]="(appLoadedService.BreadCrumbTVItemModelList.length - 1 == i) ? 'selected' : ''"
    (click)="subPageService.SetSubPage(tvItemModel)">
    <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
        <span *ngIf="appStateService.DetailVisible">
            [{{ tvItemModel?.TVItem?.TVItemID }}]
        </span>
        {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
    </span>
    <app-stat-count *ngIf="appStateService.StatCountVisible" [TVType]="null"
            [TVItemModel]="tvItemModel"></app-stat-count>
</button>