<span *ngIf="(appService.AppVar$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<mat-toolbar class="header">
    <span class="toolbar">
        <button (click)="ToggleMenu()" mat-button>
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button (click)="Home()">{{ shellService.ShellVar$.getValue().ShellTitle }}
        </button>
        <span>
            <app-search></app-search>
        </span>
    </span>
    <span class="right">
        <span>
            <app-logged-in-contact [LoggedInContact]="appService.AppVar$?.getValue()?.LoggedInContact"></app-logged-in-contact>
        </span>
        <button mat-button *ngIf="!IsEnglish()" (click)="English()">English</button>
        <button mat-button *ngIf="IsEnglish()" (click)="French()">Français</button>
        <button (click)="ToggleMap()" mat-raised-button>
            <mat-icon>map</mat-icon>
        </button>
    </span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav-left" #leftSideNav [opened]="appService.AppVar$?.getValue()?.MenuVisible"
        mode="side">
        <app-sidenav-menu [AppVar]="appService.AppVar$?.getValue()"></app-sidenav-menu>
    </mat-sidenav>
    <mat-sidenav [ngClass]="appService.AppVar$?.getValue()?.MapSizeClass" #rightSideNav [opened]="appService.AppVar$?.getValue()?.MapVisible"
        mode="side" position="end">
        <app-map [AppVar]="appService.AppVar$?.getValue()"></app-map>
    </mat-sidenav>
    <span *ngIf="(appService.AppVar$ | async).Working">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </span>
    <app-bread-crumb [AppVar]="appService.AppVar$?.getValue()"></app-bread-crumb>

    <div class="margin10">
        <app-root *ngIf="appService.AppVar$?.getValue().SubPage == 'root'"></app-root>
        <app-country *ngIf="appService.AppVar$?.getValue().SubPage == 'country'"></app-country>
        <app-province *ngIf="appService.AppVar$?.getValue().SubPage == 'province'"></app-province>
    </div>

    <mat-toolbar class="footer">
        <span>Footer</span>
    </mat-toolbar>
</mat-sidenav-container>