<span *ngIf="(appStateService.AppState$ | async).Working">
</span>
<span *ngIf="(appLoadedService.AppLoaded$ | async).Working">
</span>

<mat-list-item (click)="subPageService.SetSubPage(TVItemModel)">
    <button mat-button [ngClass]="(IsBreadCrumb && IsLast) ? 'selected' : ''">
        <span [ngClass]="TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
                [{{ TVItemModel.TVItem.TVItemID }}]
            </span>
            <span *ngIf="AppState?.Language == languageEnum.en">
                {{ TVItemModel?.TVItemLanguageEN?.TVText }}
            </span>
            <span *ngIf="AppState?.Language == languageEnum.fr">
                {{ TVItemModel?.TVItemLanguageFR?.TVText }}
            </span>
        </span>
        <app-stat-count *ngIf="!IsBreadCrumb" [TVType]="null" [TVItemModel]="TVItemModel"></app-stat-count>
    </button>
</mat-list-item>
<app-tvitem-list-detail [AppState]="AppState" *ngIf="!IsBreadCrumb && AppState?.DetailVisible"
    [TVItemModel]="TVItemModel"></app-tvitem-list-detail>

<p *ngIf="false">{{ TVItemModel | json }}</p>