<mat-list-item>
    <button mat-button *ngIf="appStateService.AppState$?.getValue()?.MapVisible && !IsBreadCrumb"
        (click)="mapService.ShowItem(TVItemModel)">
        <mat-icon>place</mat-icon>
    </button>
    <button mat-button [ngClass]="(IsBreadCrumb && IsLast) ? 'selected' : ''"
        (click)="subPageService.SetSubPage(TVItemModel)">
        <span [ngClass]="TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.AppState$?.getValue()?.MapVisible && !IsBreadCrumb">
                {{ Index }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
                [{{ TVItemModel.TVItem.TVItemID }}]
            </span>
            {{ TVItemModel?.TVItemLanguageList[this.appStateService.AppState$.getValue().Language]?.TVText }}
        </span>
        <app-stat-count *ngIf="!IsBreadCrumb && appStateService.AppState$.getValue().StatCountVisible" [TVType]="null"
            [TVItemModel]="TVItemModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.AppState$?.getValue()?.LastUpdateVisible && !IsBreadCrumb"
            [TVItemModel]="TVItemModel"></app-last-udpate-tv-item-model>
    </button>
</mat-list-item>
<app-tvitem-list-detail [AppState]="AppState" *ngIf="!IsBreadCrumb && AppState?.DetailVisible"
    [TVItemModel]="TVItemModel"></app-tvitem-list-detail>

<p *ngIf="false">{{ TVItemModel | json }}</p>