<span *ngIf="AppVar?.TVTypeMunicipality">
    <span>Municipality</span>
    <app-child-count [AppVar]="AppVar" [TVType]="AppVar?.TVTypeMunicipality" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="AppVar?.TVTypeSubsector">
    <span>Subsector</span>
    <app-child-count [AppVar]="AppVar" [TVType]="AppVar?.TVTypeSubsector" [TVItemModel]="TVItemModel">
    </app-child-count></span>
<span *ngIf="AppVar?.TVTypeMWQMSite">
    <span>MWQM site</span>
    <app-child-count [AppVar]="AppVar" [TVType]="AppVar?.TVTypeMWQMSite" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="AppVar?.TVTypeMWQMRun">
    <span>MWQM Run</span>
    <app-child-count [AppVar]="AppVar" [TVType]="AppVar?.TVTypeMWQMRun" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="AppVar?.TVTypeMWQMSiteSample">
    <span>MWQM Sample</span>
    <app-child-count [AppVar]="AppVar" [TVType]="AppVar?.TVTypeMWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="AppVar?.TVTypeMikeScenario">
    <span>Mike Scenario</span>
    <app-child-count [AppVar]="AppVar" [TVType]="AppVar?.TVTypeMikeScenario" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>

