@model WebApplicationPrototype.Models.Addresses

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Addresses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddressID" />
            <div class="form-group">
                <label asp-for="AddressTVItemID" class="control-label"></label>
                <select asp-for="AddressTVItemID" class="form-control" asp-items="ViewBag.AddressTVItemID"></select>
                <span asp-validation-for="AddressTVItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressType" class="control-label"></label>
                <input asp-for="AddressType" class="form-control" />
                <span asp-validation-for="AddressType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryTVItemID" class="control-label"></label>
                <select asp-for="CountryTVItemID" class="form-control" asp-items="ViewBag.CountryTVItemID"></select>
                <span asp-validation-for="CountryTVItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceTVItemID" class="control-label"></label>
                <select asp-for="ProvinceTVItemID" class="form-control" asp-items="ViewBag.ProvinceTVItemID"></select>
                <span asp-validation-for="ProvinceTVItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalityTVItemID" class="control-label"></label>
                <select asp-for="MunicipalityTVItemID" class="form-control" asp-items="ViewBag.MunicipalityTVItemID"></select>
                <span asp-validation-for="MunicipalityTVItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetType" class="control-label"></label>
                <input asp-for="StreetType" class="form-control" />
                <span asp-validation-for="StreetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleAddressText" class="control-label"></label>
                <input asp-for="GoogleAddressText" class="form-control" />
                <span asp-validation-for="GoogleAddressText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdateDate_UTC" class="control-label"></label>
                <input asp-for="LastUpdateDate_UTC" class="form-control" />
                <span asp-validation-for="LastUpdateDate_UTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdateContactTVItemID" class="control-label"></label>
                <input asp-for="LastUpdateContactTVItemID" class="form-control" />
                <span asp-validation-for="LastUpdateContactTVItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
