<button mat-button (click)="subPageService.SetSubPage(TVItemModel)">
    <mat-icon *ngIf="appStateService.AppState$?.getValue()?.MapVisible"
        (click)="mapService.ShowItem(TVItemModel, $event)">place</mat-icon>
    <span>&nbsp;</span>
    <span>
        {{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.ColorAndLetter?.letter }}
    </span>
    <span>&nbsp;</span>
    <span class="{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.ColorAndLetter?.color }}">
        &nbsp;&nbsp;
    </span>
    <span>&nbsp;</span>
    <span [ngClass]="TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
        <span *ngIf="appStateService.AppState$?.getValue()?.MapVisible">
            {{ Index }}&nbsp;-&nbsp;
        </span>
        <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
            [{{ TVItemModel.TVItem.TVItemID }}]
        </span>
        {{ TVItemModel?.TVItemLanguageList[this.appStateService.AppState$.getValue().Language]?.TVText }}
    </span>
    <span>
        ({{ GetMWQMSiteLatestClassificationEnum_GetIDText(StatMWQMSite?.MWQMSite?.MWQMSiteLatestClassification) }})
    </span>
    <app-stat-count *ngIf="appStateService.AppState$.getValue().StatCountVisible" [TVType]="tvTypeEnum.MWQMSiteSample"
        [TVItemModel]="TVItemModel"></app-stat-count>
    <app-last-udpate-tv-item-model *ngIf="appStateService.AppState$?.getValue()?.LastUpdateVisible"
        [TVItemModel]="TVItemModel"></app-last-udpate-tv-item-model>
</button>
<span *ngFor="let statMWQMSiteSample of StatMWQMSite?.StatMWQMSiteSampleList">
    <span *ngIf="IsFirstOfNewYear(statMWQMSiteSample?.SampleDate?.toString())">
        <span class="{{ statMWQMSiteSample?.ColorAndLetter?.color }}">&nbsp;&nbsp;|</span>       
        <span *ngIf="Year % 10 == 0">{{Year}}</span>
    </span>
</span>