<mat-card class="mat-elevation-z5">
    <mat-card-content>
        <button mat-raised-button [ngClass]="InformationVisible ? 'selected' : ''" (click)="InformationVisible = !InformationVisible">
            {{ appLanguageService.Information[appLanguageService.LangID] }}
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button [ngClass]="FilesVisible ? 'selected' : ''" (click)="FilesVisible = !FilesVisible">
            {{ appLanguageService.Files[appLanguageService.LangID] }}
            &nbsp;&nbsp;({{ GetFileCount() }})
        </button>

        <app-pol-source-site-item-view-info *ngIf="InformationVisible" [TVItemModel]="TVItemModel">
        </app-pol-source-site-item-view-info>

        <app-pol-source-site-item-view-files *ngIf="FilesVisible" [TVItemModel]="TVItemModel">
        </app-pol-source-site-item-view-files>

    </mat-card-content>
</mat-card>
