<div *ngFor="let polSourceSiteModel of polSourceSiteService.GetPolSourceSiteModelList(TVItemModel)">
    <h3>{{ appLanguageService.Address[appLanguageService.LangID] }}</h3>
    <blockquote>
        <p *ngIf="polSourceSiteModel.PolSourceSite?.CivicAddressTVItemID">
            <app-address [TVItemID]="polSourceSiteModel.PolSourceSite?.CivicAddressTVItemID"></app-address>
            <span
                *ngIf="addressService.GetAddressModel(polSourceSiteModel.PolSourceSite?.CivicAddressTVItemID).Address?.GoogleAddressText">
                <br />
                {{ appLanguageService.Google[appLanguageService.LangID] }}:&nbsp;
                {{
                addressService.GetAddressModel(polSourceSiteModel.PolSourceSite?.CivicAddressTVItemID).Address?.GoogleAddressText
                }}
            </span>
        </p>
        <p *ngIf="!polSourceSiteModel.PolSourceSite?.CivicAddressTVItemID">
            {{ appLanguageService.NoAddress[appLanguageService.LangID] }}
            <br />
        </p>
    </blockquote>
    <p *ngFor="let polSourceObservationModel of polSourceSiteModel.PolSourceObservationModelList">
        <app-pol-source-site-item-obs [PolSourceObservationModel]="polSourceObservationModel">
        </app-pol-source-site-item-obs>
    </p>
</div>