<span *ngIf="(appStateService.AppState$ | async).Working || (appLoadedService.AppLoaded$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.MWQMSites)"
    (click)="Show(subsectorSubComponentEnum.MWQMSites)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowMWQMSites[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SubsectorMWQMSites[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebSubsector.TVItemModel, tvTypeEnum.MWQMSite) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('SubsectorMWQMSitesSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorMWQMSitesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('SubsectorMWQMSitesSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorMWQMSitesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.Analysis)"
    (click)="Show(subsectorSubComponentEnum.Analysis)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowAnalysis[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.SubsectorAnalysis[appStateService.AppState$?.getValue().Language] }}
</button>
<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.MWQMRuns)"
    (click)="Show(subsectorSubComponentEnum.MWQMRuns)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowMWQMRuns[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SubsectorMWQMRuns[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebSubsector.TVItemModel, tvTypeEnum.MWQMRun) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('SubsectorMWQMRunsSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorMWQMRunsSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('SubsectorMWQMRunsSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorMWQMRunsSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.PollutionSourceSites)"
    (click)="Show(subsectorSubComponentEnum.PollutionSourceSites)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowPollutionSourceSites[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SubsectorPollutionSourceSites[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebSubsector.TVItemModel, tvTypeEnum.PolSourceSite) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('SubsectorPolSourceSitesSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorPolSourceSitesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('SubsectorPolSourceSitesSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorPolSourceSitesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.Files)"
    (click)="Show(subsectorSubComponentEnum.Files)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowFiles[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.SubsectorFiles[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebSubsector.TVItemModel, tvTypeEnum.File) }}/
        {{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebSubsector.TVItemModel, tvTypeEnum.TotalFile) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVFileSortOrder('SubsectorFilesSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorFilesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVFileSortOrder('SubsectorFilesSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().SubsectorFilesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.SubsectorTools)"
    (click)="Show(subsectorSubComponentEnum.SubsectorTools)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowSubsectorTools[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.SubsectorSubsectorTools[appStateService.AppState$?.getValue().Language] }}
</button>
<button mat-button [ngClass]="ColorSelection(subsectorSubComponentEnum.LogBook)"
    (click)="Show(subsectorSubComponentEnum.LogBook)"
    title="{{ appLanguageService.AppLanguage.SubsectorShowLogBook[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.SubsectorLogBook[appStateService.AppState$?.getValue().Language] }}
</button>

<app-tvitem-list
    *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.MWQMSites"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.SortTVItemList(appLoadedService.AppLoaded$?.getValue()?.SubsectorMWQMSiteList)">
</app-tvitem-list>

<div *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.Analysis">
    Not implemented yet. Need to create AnalysisComponent.
</div>

<app-tvitem-list
    *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.MWQMRuns"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.SortTVItemList(appLoadedService.AppLoaded$?.getValue()?.SubsectorMWQMRunList)">
</app-tvitem-list>

<app-tvitem-list
    *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.PollutionSourceSites"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.SortTVItemList(appLoadedService.AppLoaded$?.getValue()?.SubsectorPolSourceSiteList)">
</app-tvitem-list>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelList]="appLoadedService.SortTVFileList(appLoadedService.AppLoaded$?.getValue()?.SubsectorMWQMSiteList, 
    appLoadedService.AppLoaded$?.getValue()?.WebSubsector?.TVItemModel?.TVFileModelList)">
</app-file-list>

<div *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.SubsectorTools">
    Not implemented yet. Need to create SubsectorToolComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.SubsectorSubComponent == subsectorSubComponentEnum.LogBook">
    Not implemented yet. Need to create LogBookComponent.
</div>