<span *ngIf="(rootService.WebRootModel$ | async).Working || (shellService.shellModel$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<p>Root works! {{ rootService.RootTextModel$.getValue().Title }}</p>
<app-tvitem-list [TVItemLists]="rootService.WebRootModel$?.getValue()?.WebRoot?.TVItemCountryList">
</app-tvitem-list>

<table>
    <tr>
        <th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th><th>bonjour</th>
    </tr>
</table>

<router-outlet></router-outlet>
