<button mat-raised-button (click)="English()">English</button>
<button mat-raised-button (click)="French()">Français</button>

<span *ngIf="(appService.AppVar$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<p>{{ homeService.HomeVar$?.getValue()?.HomeTitle }}</p>
<mat-list>
    <mat-list-item *ngFor="let admin of appService.AppVar$?.getValue()?.AdminContactList">
        <a href="mailto:{{ admin.LoginEmail }}">{{ admin.LoginEmail }}</a>
    </mat-list-item>
</mat-list>
