<span *ngIf="(shellService.ShellModel$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<h1>Visibility</h1>
<mat-list>
    <mat-list-item>
        <mat-checkbox matLine (change)="ToggleProperty('map')"
            [checked]="ShellModel?.MapVisible">
            <span>Map</span>
        </mat-checkbox>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('size30')"
                [checked]="ShellModel?.Size30">
                <span>30%</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('size40')"
                [checked]="ShellModel?.Size40">
                <span>40%</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('size50')"
                [checked]="ShellModel?.Size50">
                <span>50%</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('size60')"
                [checked]="ShellModel?.Size60">
                <span>60%</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('size70')"
                [checked]="ShellModel?.Size70">
                <span>70%</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('hybrid')"
                [checked]="ShellModel?.HybridVisible">
                <span>Hybrid</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('satellite')"
                [checked]="ShellModel?.SatelliteVisible">
                <span>Satellite</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('roadmap')"
                [checked]="ShellModel?.RoadmapVisible">
                <span>Roadmap</span>
            </mat-checkbox>
        </span>
        <span matLine>&nbsp;&nbsp;
            <mat-checkbox (change)="ToggleProperty('terrain')"
                [checked]="ShellModel?.TerrainVisible">
                <span>Terrain</span>
            </mat-checkbox>
        </span>
    </mat-list-item>
    <mat-list-item>
        <mat-checkbox (change)="ToggleProperty('active')"
            [checked]="ShellModel?.ActiveVisible">
            <span>Active</span>
        </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-checkbox (change)="ToggleProperty('inact')"
            [checked]="ShellModel?.InactVisible">
            <span>Inactive</span>
        </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-checkbox (change)="ToggleProperty('detail')"
            [checked]="ShellModel?.DetailVisible">
            <span>Detail</span>
        </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-checkbox (change)="ToggleProperty('edit')"
            [checked]="ShellModel?.EditVisible">
            <span>Edit</span>
        </mat-checkbox>
    </mat-list-item>
    <mat-list-item>
        <mat-checkbox (change)="ToggleProperty('file')"
            [checked]="ShellModel?.FileVisible">
            <span>File</span>
        </mat-checkbox>
    </mat-list-item>
</mat-list>