<span *ngIf="(appStateService.AppState$ | async).Working">
</span>

<h1>Context Menu</h1>
<mat-list>
    <mat-list-item>
        <button mat-button
        [ngClass]="appStateService.AppState$?.getValue()?.InactVisible ? 'selected' : ''"
        (click)="ToggleInactive()">Inactive</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button
        [ngClass]="appStateService.AppState$?.getValue()?.DetailVisible ? 'selected' : ''"
        (click)="ToggleDetail()">Detail</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button
        [ngClass]="appStateService.AppState$?.getValue()?.EditVisible ? 'selected' : ''"
        (click)="ToggleEdit()">Edit</button>
    </mat-list-item>
</mat-list>