<mat-form-field [ngClass]="formFieldWidthClass">
    <input (focus)="ToggleSearchWidth()" (blur)="ToggleSearchWidth()" type="text"
        placeholder="{{ appLanguageService.SearchSearch[appLanguageService.LangID] }}"
        aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="searchAuto">
    <mat-icon matSuffix>search</mat-icon>
    <span *ngIf="appStateService.SearchWorking">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </span>
    <mat-autocomplete #searchAuto="matAutocomplete" (optionSelected)="jsonLoadListService.NavigateTo($event.option.value)"
        [displayWith]="displayFn">
        <mat-option *ngFor="let option of appLoadedService.SearchResult" [value]="option">
            <app-search-option [searchResult]="option"></app-search-option>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>