<span *ngIf="tvTypeEnum.Municipality">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceMunicipality[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.Municipality" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.LiftStation">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceLiftStation[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.LiftStation" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.WasteWaterTreatmentPlant">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceWWTP[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.WasteWaterTreatmentPlant" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Area">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceArea[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.Area" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Sector">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceSector[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.Sector" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Subsector">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceSubsector[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSiteSample">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceMWQMSample[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSite">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceMWQMSite[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMRun">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceMWQMRun[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.PolSourceSite">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvincePolSourceSite[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.PolSourceSite" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MikeScenario">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceMikeScenario[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MikeScenario" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.BoxModel">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceBoxModel[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.BoxModel" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.VisualPlumesScenario">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailProvinceVPScenario[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.VisualPlumesScenario" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>