<mat-list *ngFor="let tvItemModel of TVItemModelList; let i = index">
    <app-tvitem-menu [TVItemModel]="tvItemModel" >
    </app-tvitem-menu>

    <button mat-button (click)="subPageService.SetSubPage(tvItemModel)">
        <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.DetailVisible">
                [{{ tvItemModel?.TVItem?.TVItemID }}]
            </span>
            {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.StatCountVisible" [TVType]="null"
            [TVItemModel]="tvItemModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.LastUpdateVisible"
            [TVItemModel]="tvItemModel"></app-last-udpate-tv-item-model>
    </button>

    <app-sector-item-view *ngIf="showTVItemService.TVItemVisible(tvItemModel)"
        [TVItemModel]="tvItemModel" >
    </app-sector-item-view>

    <app-sector-item-edit *ngIf="appStateService.EditVisible"
        [TVItemModel]="tvItemModel" >
    </app-sector-item-edit>

    <app-sector-tvitem-list-detail  *ngIf="appStateService.DetailVisible"
        [TVItemModel]="tvItemModel"></app-sector-tvitem-list-detail>
</mat-list>