<ng-template>
    {{ (shellService.shellModel$ | async) }}
</ng-template>
<mat-toolbar class="header">
    <span class="toolbar">
        <button (click)="shellService.ToggleMenu()" mat-button>
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="">{{ shellService.shellModel$.getValue().AppTitle }}
        </a>
        <span>
            <app-search></app-search>
        </span>
    </span>
    <span class="right">
        <span>
            <app-logged-in-contact></app-logged-in-contact>
        </span>
        <button mat-button *ngIf="!IsEnglish()" (click)="changeLang()">English</button>
        <button mat-button *ngIf="IsEnglish()" (click)="changeLang()">Français</button>
        <button (click)="shellService.ToggleMap()" mat-raised-button>
            <mat-icon>map</mat-icon>
        </button>
    </span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav-left" #leftSideNav [opened]="shellService.shellModel$?.getValue()?.MenuVisible"
        mode="side">
        <mat-list>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
            <mat-list-item>Testing</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav class="sidenav-right" #rightSideNav [opened]="shellService.shellModel$?.getValue()?.MapVisible"
        mode="side" position="end">
        <mat-list>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
            <mat-list-item>bonjour</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <span *ngIf="(shellService.shellModel$ | async).Working">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </span>
    <app-bread-crumb [breadCrumbs]="shellService.BreadCrumbModel$?.getValue()?.WebBaseList"></app-bread-crumb>


    <div class="margin10">
        <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="footer">
        <span>Footer</span>
    </mat-toolbar>
</mat-sidenav-container>