<ng-template>
{{ (shellService.shellModel$ | async) }}
</ng-template>
<mat-toolbar>
    <span class="top">
        <button mat-button>
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="home">{{ shellService.shellModel$.getValue().AppTitle }}
        </a>
        <span>
            <app-search></app-search>
        </span>
    </span>
    <span class="right">
        <button *ngIf="shellService.shellModel$.getValue()?.Contact" mat-button>
            {{ shellService.shellModel$.getValue()?.Contact?.LoginEmail }}
        </button>
        <button mat-button *ngIf="!IsEnglish()" (click)="changeLang()">English</button>
        <button mat-button *ngIf="IsEnglish()" (click)="changeLang()">Français</button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>