.left {
  float: left;
}

.right {
  float: right;
}

.toolbar {
  flex: 1 1 auto;
}

.margin10 {
  margin: 20px;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav-left {
  width: 200px;
}

.sidenav-right {
  width: 50%;
}

.mapSize30 {
  width: 30%
}

.mapSize40 {
  width: 40%
}

.mapSize50 {
  width: 50%
}

.mapSize60 {
  width: 60%
}

.mapSize70 {
  width: 70%
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
