<p>address works!</p>
<p>{{ addressService.addressTextModel$.getValue().Title }}</p>

<button mat-button color="primary" (click)="GetAddress()">Get Address</button>

<hr />
<ul *ngIf="addressService.addressModel$.getValue().AddressList">
    <li *ngFor="let address of addressService.addressModel$.getValue().AddressList">
        AddressID: {{ address.AddressID }}<br />
        AddressTVItemID: {{ address.AddressTVItemID }}<br />
        AddressType: {{ GetAddressTypeEnumText(address.AddressType) }}<br />

    </li>
</ul>
<hr />