<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<div *ngIf="!(appStateService.Working)">
    <div *ngFor="let LangID of LangIDList" class="card-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2 class="center">{{ appLanguageService.HomeCSSPWebTools[LangID] }}
                        {{ appLanguageService.HomeAzureVersion[LangID] }}</h2>

                </mat-card-title>
            </mat-card-header>
            <h3> {{ appLanguageService.HomeTheWebToolWillLetYou[LangID] }}
            </h3>
            <ol>
                <li>
                    {{ appLanguageService.HomeViewAndUpdateWWTPInfo[LangID] }}
                </li>
                <li>
                    {{ appLanguageService.HomeMakeCalculationUsingBoxModelAndVisualPlumes[LangID] }}
                </li>
                <li>
                    {{ appLanguageService.HomeSetupAndRunMIKEScenariosAndStoreInputsAndResults[LangID] }}
                </li>
                <li>
                    {{ appLanguageService.HomeManageMWQMInformation[LangID] }}
                </li>
            </ol>
            <p>{{ appLanguageService.HomeToHaveAccessWebToolsInformationAndApplication[LangID] }}
                &nbsp;{{ appLanguageService.HomePleaseContactASiteAdministratorListedBelow[LangID] }}
            </p>
            <p>&nbsp;</p>
            <p>
                <span *ngFor="let admin of appLoadedService.AdminContactModel">
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:{{ admin?.Contact?.LoginEmail }}">{{ admin?.Contact?.LoginEmail }}</a>
                </span>
            </p>
            <p>&nbsp;</p>
            <p>
                <button mat-raised-button
                    (click)="StartWithLanguage(LangID)">{{ appLanguageService.HomeStartUsingCSSPWebTools[LangID] }}
                    &nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>play_arrow</mat-icon>
                </button>
            </p>
        </mat-card>
    </div>
</div>
