<mat-list-item (click)="appService.SetSubPage(TVItemModel)">
    <button mat-button>
        <span [ngClass]="TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="AppVar?.Language == 1">
                {{ TVItemModel?.TVItemLanguageEN?.TVText }}
            </span>
            <span *ngIf="AppVar?.Language == 2">
                {{ TVItemModel?.TVItemLanguageFR?.TVText }}
            </span>
        </span>
    </button>
    <app-child-count *ngIf="!IsBreadCrumb" [AppVar]="AppVar" [TVType]="null" [TVItemModel]="TVItemModel"></app-child-count>
</mat-list-item>
<app-tvitem-list-detail [AppVar]="AppVar" *ngIf="!IsBreadCrumb && AppVar?.DetailVisible" [TVItemModel]="TVItemModel"></app-tvitem-list-detail>

<p *ngIf="false">{{ TVItemModel | json }}</p>