<mat-list>
    <span>{{
        appLanguageService.StatSampleNumber[this.appLanguageService.LangID]
        }}:&nbsp;</span>

    <mat-button-toggle-group>
        <mat-button-toggle (click)="SetStatRunsForDetail(10)"
            [ngClass]="(appStateService.StatRunsForDetail == 10) ? 'selected' : ''">
            10
        </mat-button-toggle>
        <mat-button-toggle (click)="SetStatRunsForDetail(15)"
            [ngClass]="(appStateService.StatRunsForDetail == 15) ? 'selected' : ''">
            15
        </mat-button-toggle>
        <mat-button-toggle (click)="SetStatRunsForDetail(20)"
            [ngClass]="(appStateService.StatRunsForDetail == 20) ? 'selected' : ''">
            20
        </mat-button-toggle>
        <mat-button-toggle (click)="SetStatRunsForDetail(25)"
            [ngClass]="(appStateService.StatRunsForDetail == 25) ? 'selected' : ''">
            25
        </mat-button-toggle>
        <mat-button-toggle (click)="SetStatRunsForDetail(30)"
            [ngClass]="(appStateService.StatRunsForDetail == 30) ? 'selected' : ''">
            30
        </mat-button-toggle>
        <mat-button-toggle (click)="SetStatRunsForDetail(35)"
            [ngClass]="(appStateService.StatRunsForDetail == 35) ? 'selected' : ''">
            35
        </mat-button-toggle>
        <mat-button-toggle (click)="SetStatRunsForDetail(40)"
            [ngClass]="(appStateService.StatRunsForDetail == 40) ? 'selected' : ''">
            40
        </mat-button-toggle>
    </mat-button-toggle-group>
    <br />
</mat-list>

<mat-list *ngFor="let tvItemModel of TVItemModelList; let i = index">
    <app-tvitem-menu [TVItemModel]="tvItemModel" >
    </app-tvitem-menu>

    <app-mwqm-site-tvitem-list-item-special [TVItemModel]="tvItemModel" [Index]="i + 1" 
        [StatMWQMSite]="loaderService.GetMWQMSiteDetail(tvItemModel)">
    </app-mwqm-site-tvitem-list-item-special>

    <app-mwqm-site-item-view *ngIf="showTVItemService.TVItemVisible(tvItemModel)"
        [TVItemModel]="tvItemModel" >
    </app-mwqm-site-item-view>

    <app-mwqm-site-item-edit *ngIf="appStateService.EditVisible"
        [TVItemModel]="tvItemModel" >
    </app-mwqm-site-item-edit>

    <app-mwqm-site-tvitem-list-detail *ngIf="appStateService.DetailVisible"
        [TVItemModel]="tvItemModel" 
        [StatMWQMSite]="loaderService.GetMWQMSiteDetail(tvItemModel)">
    </app-mwqm-site-tvitem-list-detail>
</mat-list>