<h2>
  <button mat-raised-button (click)="CreateTempCSV()">
    <mat-icon>download</mat-icon>
  </button>
  {{ tableTitle }}
</h2>

<table #table mat-table [dataSource]="appLoadedService.MonitoringStatsModel?.MonitoringStatByYearList">
  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef title="{{appLanguageService.YearOfSampling[appLanguageService.LangID]}}">
      {{appLanguageService.Year[appLanguageService.LangID]}}
    </th>
    <td mat-cell *matCellDef="let monstat"> {{ monstat.Year }} </td>
  </ng-container>

  <ng-container matColumnDef="MWQMSiteCount">
    <th mat-header-cell *matHeaderCellDef title="{{appLanguageService.MWQMSite[appLanguageService.LangID]}}">
      {{appLanguageService.MWQMSite[appLanguageService.LangID]}}
      <br />{{appLanguageService.Count[appLanguageService.LangID]}}
    </th>
    <td mat-cell *matCellDef="let monstat"> {{ monstat.MWQMSiteCount }} </td>
  </ng-container>

  <ng-container matColumnDef="MWQMRunCount">
    <th mat-header-cell *matHeaderCellDef title="{{appLanguageService.MWQMRun[appLanguageService.LangID]}}">
      {{appLanguageService.MWQMRun[appLanguageService.LangID]}}
      <br />{{appLanguageService.Count[appLanguageService.LangID]}}
    </th>
    <td mat-cell *matCellDef="let monstat"> {{monstat.MWQMRunCount}} </td>
  </ng-container>

  <ng-container matColumnDef="MWQMSampleCount">
    <th mat-header-cell *matHeaderCellDef title="{{appLanguageService.MWQMSample[appLanguageService.LangID]}}">
      {{appLanguageService.MWQMSample[appLanguageService.LangID]}}
      <br />{{appLanguageService.Count[appLanguageService.LangID]}}
    </th>
    <td mat-cell *matCellDef="let monstat"> {{monstat.MWQMSampleCount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedYearColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedYearColumns;"></tr>
</table>
