table {
  width: 100%;
}

.FCBiggerThan499 {
color: red;
border: red solid 1px;
font-weight: 700;
}

.FCBiggerThan259 {
color: red;
text-decoration: underline;
font-weight: 700;
}

.FCBiggerThan43 {
color: red;
font-weight: 700;
}

.GMBiggerThan88 {
color: purple;
font-weight: 700;
}

.GMBiggerThan14 {
color: red;
font-weight: 700;
}

.MedBiggerThan88 {
color: purple;
font-weight: 700;
}

.MedBiggerThan14 {
color: red;
font-weight: 700;
}

.P90BiggerThan260 {
color: purple;
font-weight: 700;
}

.P90BiggerThan43 {
color: red;
font-weight: 700;
}

.PercOver43BiggerThan10 {
color: red;
font-weight: 700;
}

.PercOver260BiggerThan10 {
color: red;
font-weight: 700;
}
