<span *ngIf="(appStateService.AppState$ | async).Working">
</span>

<span *ngIf="tvTypeEnum.Subsector">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailSectorSubsector[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSiteSample">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailSectorMWQMSample[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSite">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailSectorMWQMSite[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMRun">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailSectorMWQMRun[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.PolSourceSite">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailSectorPolSourceSite[appStateService.AppState$?.getValue().Language] }}&nbsp;&nbsp;</span>
    <app-stat-count [TVType]="tvTypeEnum.PolSourceSite" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
