<blockquote *ngIf="StatMWQMSite">
    <strong>{{
        appLanguageService.TVItemListDetailMWQMSiteDetailStatistics[appLanguageService.LangID]
        }}:</strong>
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailSamples[appLanguageService.LangID]
    }} (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.Samples }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailDataset[appLanguageService.LangID]
    }} (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.StartYear }} -
        {{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.EndYear }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailStatisticsPeriod[appLanguageService.LangID]
    }} (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.StatStartYear }} -
        {{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.StatEndYear }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailLastSampleDate[appLanguageService.LangID]
    }} (<strong>
        {{ dateFormatService.GetStatMWQMSiteSampleSampleLastSampleDate(StatMWQMSite?.StatMWQMSiteSampleList[0]) }}
    </strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailNumberOfSample[appLanguageService.LangID]
    }}
    (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.SampCount }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailMinimumFC[appLanguageService.LangID]
    }} (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.MinFC }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailMaximumFC[appLanguageService.LangID]
    }} (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.MaxFC }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailGeometricMean[appLanguageService.LangID]
    }}
    (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.GeoMean | number:'1.1-1' }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailMedian[appLanguageService.LangID]
    }} (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.Median | number:'1.1-1' }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailP90[appLanguageService.LangID] }}
    (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.P90 | number:'1.1-1' }}</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailPerOfSampleWithFCOver43[appLanguageService.LangID]
    }}
    (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.PercOver43 | number:'1.1-1' }}%</strong>)
    &nbsp;&nbsp;&nbsp;{{
    appLanguageService.TVItemListDetailMWQMSiteDetailPerOfSampleWithFCOver260[appLanguageService.LangID]
    }}
    (<strong>{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.PercOver260 | number:'1.1-1' }}%</strong>)
    <hr />
</blockquote>