<mat-card>
    <mat-card-content>
        <button mat-raised-button (click)="ViewVisible = !ViewVisible" [ngClass]="ViewVisible ? 'selected' : ''">
            {{ appLanguageService.View[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="ModifyVisible = !ModifyVisible" [ngClass]="ModifyVisible ? 'selected' : ''">
            {{ appLanguageService.Modify[appLanguageService.LangID] }}
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="DeleteVisible = !DeleteVisible" [ngClass]="DeleteVisible ? 'selected' : ''">
            {{ appLanguageService.Delete[appLanguageService.LangID] }}
        </button>

        <app-tvitem-view *ngIf="ViewVisible" [TVItemModel]="TVItemModel"></app-tvitem-view>
        <app-tvitem-modify *ngIf="ModifyVisible" [TVItemModel]="TVItemModel"></app-tvitem-modify>
        <app-tvitem-delete *ngIf="DeleteVisible" [TVItemModel]="TVItemModel"></app-tvitem-delete>

    </mat-card-content>
</mat-card>
