<h3>{{ appLanguageService.DiffuserInformation[appLanguageService.LangID] }}</h3>
<blockquote>
    <!--Concentration-->
    <span class="strongSpan">
        {{ appLanguageService.Concentration[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.EffluentConcentration_MPN_100ml
        }} {{ appLanguageService.FCPer100mL[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Efflent Flow-->
    <span class="strongSpan">
        {{ appLanguageService.EffluentFlow[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.EffluentFlow_m3_s
        }} {{ appLanguageService.cubicMetersPerSecond[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--PortDiameter-->
    <span class="strongSpan">
        {{ appLanguageService.PortDiameter[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.PortDiameter_m
        }} {{ appLanguageService.meters[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--PortElevation-->
    <span class="strongSpan">
        {{ appLanguageService.PortElevation[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.PortElevation_m
        }} {{ appLanguageService.meters[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Port Depth-->
    <span class="strongSpan">
        {{ appLanguageService.PortDepth[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.PortDepth_m
        }} {{ appLanguageService.meters[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Effluent Salinity-->
    <span class="strongSpan">
        {{ appLanguageService.EffluentSalinity[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.EffluentSalinity_PSU
        }} {{ appLanguageService.PSU[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Effluent Temperature-->
    <span class="strongSpan">
        {{ appLanguageService.EffluentTemperature[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.EffluentTemperature_C
        }} {{ appLanguageService.DegCelciusSymbol[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Vertical Angle-->
    <span class="strongSpan">
        {{ appLanguageService.VerticalAngle[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.VerticalAngle_deg
        }} {{ appLanguageService.deg[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Horizontal Angle-->
    <span class="strongSpan">
        {{ appLanguageService.HorizontalAngle[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.HorizontalAngle_deg
        }} {{ appLanguageService.deg[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Number of Ports-->
    <span class="strongSpan">
        {{ appLanguageService.NumberOfPorts[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.NumberOfPorts
        }} {{ appLanguageService.meters[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>

    <!--Port Spacing-->
    <span class="strongSpan">
        {{ appLanguageService.PortSpacing[appLanguageService.LangID] }}:
    </span>
    <span>
        {{
            VPScenarioModel.VPScenario.PortSpacing_m
        }} {{ appLanguageService.meters[appLanguageService.LangID] }}
    </span>
    <span>&nbsp;&nbsp;&nbsp;</span>
</blockquote>
