<ng-container *ngIf="showTVItemService.TVItemVisible(TVItemModel)">
    <p>
        <button mat-raised-button (click)="ShowView = !ShowView" [ngClass]="ShowView ? 'selected' : ''">
            View
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="ShowModify = !ShowModify" [ngClass]="ShowModify ? 'selected' : ''">
            Modify
        </button>
        <span>&nbsp;&nbsp;</span>
        <button mat-raised-button (click)="ShowCreate = !ShowCreate" [ngClass]="ShowCreate ? 'selected' : ''">
            Create
        </button>
    </p>
    <mat-card *ngIf="ShowView">
        <mat-card-header>
            <h3>View</h3>
        </mat-card-header>
        <mat-card-content>
            <app-country-item-view *ngIf="TVItemModel.TVItem.TVType == tvTypeEnum.Country" [TVItemModel]="TVItemModel"></app-country-item-view>
            <app-province-item-view *ngIf="TVItemModel.TVItem.TVType == tvTypeEnum.Province" [TVItemModel]="TVItemModel"></app-province-item-view>
        </mat-card-content>
    </mat-card>
    <p *ngIf="ShowView && ShowModify">&nbsp;</p>
    <mat-card *ngIf="ShowModify">
        <mat-card-header>
            <h3>Modify</h3>
        </mat-card-header>
        <mat-card-content>
            <app-country-item-modify *ngIf="TVItemModel.TVItem.TVType == tvTypeEnum.Country" [TVItemModel]="TVItemModel"></app-country-item-modify>
            <app-province-item-modify *ngIf="TVItemModel.TVItem.TVType == tvTypeEnum.Province" [TVItemModel]="TVItemModel"></app-province-item-modify>
        </mat-card-content>
    </mat-card>
    <p *ngIf="(ShowView || ShowModify) && ShowCreate">&nbsp;</p>
    <mat-card *ngIf="ShowCreate">
        <mat-card-header>
            <h3>Create</h3>
        </mat-card-header>
        <mat-card-content>
            <app-country-item-create *ngIf="TVItemModel.TVItem.TVType == tvTypeEnum.Country" [TVItemModel]="TVItemModel"></app-country-item-create>
            <app-province-item-create *ngIf="TVItemModel.TVItem.TVType == tvTypeEnum.Country" [TVItemModel]="TVItemModel"></app-province-item-create>
        </mat-card-content>
    </mat-card>

</ng-container>
