<mat-list *ngFor="let tvItemModel of TVItemModelList; let i = index">
    <app-tvitem-menu [TVItemModel]="tvItemModel">
    </app-tvitem-menu>


    <button mat-button (click)="subPageService.SetSubPage(tvItemModel)">
        <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.UserPreference.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.UserPreference.DetailVisible">
                [{{ tvItemModel.TVItem.TVItemID }}]
            </span>
            <span [ngClass]="polSourceSiteService.GetRiskColor(tvItemModel)">&nbsp;&nbsp;&nbsp;</span>
            {{ tvItemModel?.TVItemLanguageList[appLanguageService.LangID]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.UserPreference.StatCountVisible" [TVType]="null"
            [TVItemModel]="tvItemModel"></app-stat-count>
        <app-tvitem-last-update *ngIf="appStateService.UserPreference.LastUpdateVisible" [TVItemModel]="tvItemModel">
        </app-tvitem-last-update>
    </button>

    <app-pol-source-site-item-view *ngIf="showTVItemService.TVItemVisible(tvItemModel)" [TVItemModel]="tvItemModel">
    </app-pol-source-site-item-view>

    <app-pol-source-site-item-modify *ngIf="appStateService.UserPreference.EditVisible" [TVItemModel]="tvItemModel">
    </app-pol-source-site-item-modify>

    <app-pol-source-site-item-create *ngIf="appStateService.UserPreference.EditVisible" [TVItemModel]="tvItemModel">
    </app-pol-source-site-item-create>

    <app-pol-source-site-tvitem-list-detail *ngIf="appStateService.UserPreference.DetailVisible"
        [TVItemModel]="tvItemModel">
    </app-pol-source-site-tvitem-list-detail>
</mat-list>