<mat-list *ngFor="let webBase of TVItemList; let i = index">
    <app-pol-source-site-tvitem-list-item-menu [TVItemModel]="webBase.TVItemModel" [AppState]="AppState">
    </app-pol-source-site-tvitem-list-item-menu>

    <button mat-button (click)="subPageService.SetSubPage(webBase.TVItemModel)">
        <span [ngClass]="webBase.TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.AppState$?.getValue()?.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
                [{{ webBase.TVItemModel.TVItem.TVItemID }}]
            </span>
            {{ webBase.TVItemModel?.TVItemLanguageList[this.appStateService.AppState$.getValue().Language]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.AppState$.getValue().StatCountVisible" [TVType]="null"
            [TVItemModel]="webBase.TVItemModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.AppState$?.getValue()?.LastUpdateVisible"
            [TVItemModel]="webBase.TVItemModel"></app-last-udpate-tv-item-model>
    </button>

    <app-pol-source-site-item *ngIf="showItemService.TVItemModelVisible(webBase?.TVItemModel)"
        [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
    </app-pol-source-site-item>

    <app-pol-source-site-item-edit *ngIf="showItemForEditService.TVItemModelForEditVisible(webBase?.TVItemModel)"
        [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
    </app-pol-source-site-item-edit>

    <app-pol-source-site-tvitem-list-detail [AppState]="AppState" *ngIf="AppState?.DetailVisible"
        [TVItemModel]="webBase.TVItemModel">
    </app-pol-source-site-tvitem-list-detail>
</mat-list>