<blockquote>
    <span *ngIf="tvTypeEnum.Province">
        <span>{{ appLanguageService.TVItemListDetailCountryProvince[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Province" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Municipality">
        <span>{{ appLanguageService.TVItemListDetailCountryMunicipality[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Municipality" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.LiftStation">
        <span>{{ appLanguageService.TVItemListDetailCountryLiftStation[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.LiftStation" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.WasteWaterTreatmentPlant">
        <span>{{ appLanguageService.TVItemListDetailCountryWWTP[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.WasteWaterTreatmentPlant" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Area">
        <span>{{ appLanguageService.TVItemListDetailCountryArea[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Area" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Sector">
        <span>{{ appLanguageService.TVItemListDetailCountrySector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Sector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.Subsector">
        <span>{{ appLanguageService.TVItemListDetailCountrySubsector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSiteSample">
        <span>{{ appLanguageService.TVItemListDetailCountryMWQMSample[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSite">
        <span>{{ appLanguageService.TVItemListDetailCountryMWQMSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMRun">
        <span>{{ appLanguageService.TVItemListDetailCountryMWQMRun[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.PolSourceSite">
        <span>{{ appLanguageService.TVItemListDetailCountryPolSourceSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.PolSourceSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MikeScenario">
        <span>{{ appLanguageService.TVItemListDetailCountryMikeScenario[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MikeScenario" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.BoxModel">
        <span>{{ appLanguageService.TVItemListDetailCountryBoxModel[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.BoxModel" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.VisualPlumesScenario">
        <span>{{ appLanguageService.TVItemListDetailCountryVPScenario[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.VisualPlumesScenario" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <hr />
</blockquote>