<mat-card>
    <mat-card-content>
        <form [formGroup]="formTVItemCreate" (ngSubmit)="Create()">
            <mat-form-field>
                <mat-label>{{ appLanguageService.NewItemName[appLanguageService.LangID] }}</mat-label>
                <input matInput formControlName="TVText" />
                <mat-error *ngIf="f.TVText?.errors?.required">{{ appLanguageService.Required[appLanguageService.LangID] }}</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!formTVItemCreate.valid">{{ appLanguageService.Create[appLanguageService.LangID] }}</button>
        </form>
    </mat-card-content>
</mat-card>

<app-not-implemented-yet></app-not-implemented-yet>