<span *ngIf="(appStateService.AppState$ | async).Working || (appLoadedService.AppLoaded$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<button mat-button [ngClass]="ColorSelection(areaSubComponentEnum.Sectors)" (click)="Show(areaSubComponentEnum.Sectors)"
    title="{{ appLanguageService.AppLanguage.AreaShowSectors[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.AreaSectors[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebArea.TVItemModel, tvTypeEnum.Sector) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('AreaSectorsSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().AreaSectorsSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('AreaSectorsSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().AreaSectorsSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(areaSubComponentEnum.Files)" (click)="Show(areaSubComponentEnum.Files)"
    title="{{ appLanguageService.AppLanguage.AreaShowFiles[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.AreaFiles[appStateService.AppState$?.getValue().Language] }}
    ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebArea.TVItemModel, tvTypeEnum.File) }}/
    {{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebArea.TVItemModel, tvTypeEnum.TotalFile) }})
</button>

<app-tvitem-list *ngIf="appStateService.AppState$?.getValue()?.AreaSubComponent == areaSubComponentEnum.Sectors"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.SortTVItemList(appLoadedService.AppLoaded$?.getValue()?.AreaSectorList)">
</app-tvitem-list>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.AreaSubComponent == areaSubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelList]="appLoadedService.SortTVFileList(appLoadedService.AppLoaded$?.getValue()?.AreaSectorList, 
    appLoadedService.AppLoaded$?.getValue()?.WebArea?.TVItemModel?.TVFileModelList)">
</app-file-list>