<blockquote>
    <span *ngIf="tvTypeEnum.Subsector">
        <span>{{ appLanguageService.TVItemListDetailSectorSubsector[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSiteSample">
        <span>{{ appLanguageService.TVItemListDetailSectorMWQMSample[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMSite">
        <span>{{ appLanguageService.TVItemListDetailSectorMWQMSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.MWQMRun">
        <span>{{ appLanguageService.TVItemListDetailSectorMWQMRun[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <span *ngIf="tvTypeEnum.PolSourceSite">
        <span>{{ appLanguageService.TVItemListDetailSectorPolSourceSite[appLanguageService.LangID] }}&nbsp;&nbsp;</span>
        <app-stat-count [TVType]="tvTypeEnum.PolSourceSite" [TVItemModel]="TVItemModel">
        </app-stat-count>
    </span>
    <hr />
</blockquote>