<span *ngIf="(appStateService.AppState$ | async).Working">
</span>

<span *ngIf="tvTypeEnum.Province">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountryProvince[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Province" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Municipality">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountryMunicipality[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Municipality" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Subsector">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountrySubsector[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
    </app-stat-count></span>
<span *ngIf="tvTypeEnum.MWQMSite">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountryMWQMSite[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMRun">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountryMWQMRun[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSiteSample">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountryMWQMSample[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MikeScenario">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailCountryMikeScenario[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MikeScenario" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
