<ng-container>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="appStateService.UserPreference.EditVisible">
            <button class="selected" mat-menu-item (click)="ShowEdit(TVItemModel)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
        </ng-container>
        <button mat-menu-item (click)="ShowData(TVItemModel)">
            <mat-icon>more_horiz</mat-icon>
            <span>More information</span>
        </button>
        <ng-container *ngIf="appStateService.UserPreference.MapVisible">
            <button mat-menu-item class="true ? 'selected' : ''" (click)="mapService.ShowItem(TVItemModel, $event)">
                <mat-icon>place</mat-icon>
                <span>Show item on map</span>
            </button>
        </ng-container>
    </mat-menu>
</ng-container>