<span *ngIf="(appLoadedService.AppLoaded$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<span *ngIf="(appStateService.AppState$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<button mat-button [matMenuTriggerFor]="provinceMenu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #provinceMenu="matMenu">
    <h3>&nbsp;&nbsp;Province Menu</h3>
    <button mat-button
    [ngClass]="appStateService.AppState$?.getValue()?.InactVisible ? 'selected' : ''"
    (click)="ToggleInactive()">Inactive</button>
    <button mat-button
    [ngClass]="appStateService.AppState$?.getValue()?.DetailVisible ? 'selected' : ''"
    (click)="ToggleDetail()">Detail</button>
    <button mat-button
    [ngClass]="appStateService.AppState$?.getValue()?.EditVisible ? 'selected' : ''"
    (click)="ToggleEdit()">Edit</button>
</mat-menu>

<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.Areas)" (click)="Show(provinceSubComponentEnum.Areas)">Areas</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.Municipalities)" (click)="Show(provinceSubComponentEnum.Municipalities)">Municipalities</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.Files)" (click)="Show(provinceSubComponentEnum.Files)">Files</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.OpenData)" (click)="Show(provinceSubComponentEnum.OpenData)">Open Data</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.SamplingPlan)" (click)="Show(provinceSubComponentEnum.SamplingPlan)">Sampling Plan</button>
<button mat-button [ngClass]="ColorSelection(provinceSubComponentEnum.ProvinceTools)" (click)="Show(provinceSubComponentEnum.ProvinceTools)">Province Tools</button>

<app-tvitem-list *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.Areas"
    [AppState]="appStateService.AppState$?.getValue()" [TVItemList]="appLoadedService.AppLoaded$?.getValue()?.ProvinceAreaList">
</app-tvitem-list>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.Municipalities">
    Not implemented yet. Need to create MunicipalityListComponent or use the TVItemListComponent.
</div>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelList]="appLoadedService.AppLoaded$?.getValue()?.WebProvince?.TVItemModel?.TVFileModelList">
</app-file-list>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.OpenData">
    Not implemented yet. Need to create OpenDataComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.SamplingPlan">
    Not implemented yet. Need to create SamplingPlanComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.ProvinceSubComponent == provinceSubComponentEnum.ProvinceTools">
    Not implemented yet. Need to create ProvinceToolsComponent.
</div>
