<span *ngIf="(provinceService.ProvinceVar$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<span *ngIf="(appService.AppVar$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<app-tvitem-list [AppVar]="appService.AppVar$?.getValue()" [TVItemList]="provinceService.ProvinceVar$?.getValue()?.WebBaseAreaList">   
</app-tvitem-list>

<div *ngIf="appService.AppVar$?.getValue()?.FileVisible">
    <app-file-list [AppVar]="appService.AppVar$?.getValue()" *ngIf="provinceService.ProvinceVar$?.getValue()?.WebProvince?.TVItemModel" 
    [TVFileModelList]="provinceService.ProvinceVar$?.getValue()?.WebProvince?.TVItemModel?.TVFileModelList">        
    </app-file-list>
</div>

