<mat-list *ngFor="let webBase of TVItemList; let i = index">
    <app-tvitem-menu [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
    </app-tvitem-menu>

    <button mat-button (click)="subPageService.SetSubPage(webBase?.TVItemModel)">
        <span [ngClass]="webBase?.TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.AppState$?.getValue()?.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
                [{{ webBase?.TVItemModel.TVItem.TVItemID }}]
            </span>
            {{ webBase?.TVItemModel?.TVItemLanguageList[this.appStateService.AppState$.getValue().Language]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.AppState$.getValue().StatCountVisible" [TVType]="null"
            [TVItemModel]="webBase?.TVItemModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.AppState$?.getValue()?.LastUpdateVisible"
            [TVItemModel]="webBase?.TVItemModel"></app-last-udpate-tv-item-model>
    </button>

    <app-municipality-item-view *ngIf="showTVItemService.TVItemVisible(webBase?.TVItemModel)"
        [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
    </app-municipality-item-view>

    <app-municipality-item-edit *ngIf="AppState.EditVisible"
        [TVItemModel]="webBase?.TVItemModel" [AppState]="AppState">
    </app-municipality-item-edit>

    <app-municipality-tvitem-list-detail [AppState]="AppState" *ngIf="AppState?.DetailVisible"
        [TVItemModel]="webBase?.TVItemModel">
    </app-municipality-tvitem-list-detail>
</mat-list>