<br />
<h2>{{ appLanguageService.MunicipalityWithInfrastructure[appLanguageService.LangID] }}</h2>
<ng-container
    *ngFor="let tvItemModel of TVItemModelInfrastructureModel.TVItemModeWithInfrastructurelList; let i = index">
    <mat-list>
        <app-tvitem-menu [TVItemModel]="tvItemModel">
        </app-tvitem-menu>

        <app-tvitem-item  [TVItemModel]="tvItemModel" [Index]="i"></app-tvitem-item>

        <app-tvitem-menu-open  [TVItemModel]="tvItemModel"></app-tvitem-menu-open>    

        <app-municipality-tvitem-list-detail *ngIf="appStateService.UserPreference.DetailVisible"
            [TVItemModel]="tvItemModel">
        </app-municipality-tvitem-list-detail>
    </mat-list>
</ng-container>

<br />
<h2>{{ appLanguageService.MunicipalityWithoutInfrastructure[appLanguageService.LangID] }}</h2>
<ng-container *ngFor="let tvItemModel of TVItemModelInfrastructureModel.TVItemModelWithoutInfrastructureList">
    <mat-list>
        <app-tvitem-item  [TVItemModel]="tvItemModel" [Index]="-1"></app-tvitem-item>

        <app-tvitem-menu-open  [TVItemModel]="tvItemModel"></app-tvitem-menu-open>
    
        <app-municipality-tvitem-list-detail *ngIf="appStateService.UserPreference.DetailVisible"
            [TVItemModel]="tvItemModel">
        </app-municipality-tvitem-list-detail>
    </mat-list>
</ng-container>