<!-- Settings Menu -->
<mat-menu #menuSettings>
    <button mat-menu-item (click)="nothing()">Settings First Menu</button>
    <button mat-menu-item (click)="nothing()">Settings Second Menu</button>
</mat-menu>

<!-- User Menu -->
<mat-menu #menuUser>
    <button mat-menu-item (click)="nothing()">User Id {{ userService.userModel$?.value?.Id }}</button>
    <button mat-menu-item (click)="nothing()">User FirstName {{ userService.userModel$?.value?.FirstName }}</button>
    <button mat-menu-item (click)="nothing()">User LastName {{ userService.userModel$?.value?.LastName }}</button>
    <button mat-menu-item (click)="nothing()">User LoginEmail {{ userService.userModel$?.value?.LoginEmail }}</button>
</mat-menu>

<!-- Top Toolbar -->
<mat-toolbar>
    <span class="top">
        <button mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="">{{ shellService.shellModel$.value.AppTitle }}
        </a>
        <span class="right">
            <button *ngIf="userService.userModel$?.value?.Token" mat-button (click)="Logout()">
                {{ shellService.shellModel$.value.Logout }}
            </button>
            <button *ngIf="userService.userModel$?.value?.Token" mat-button [matMenuTriggerFor]="menuUser">
                {{ userService.userModel$?.value?.LoginEmail }}
            </button>
            <a *ngIf="!userService.userModel$?.value?.Token" mat-button routerLink="register"
                routerLinkActive="active-link">
                {{ shellService.shellModel$.value.Register }}
            </a>
            <a *ngIf="!userService.userModel$?.value?.Token" mat-button routerLink="login"
                routerLinkActive="active-link">
                {{ shellService.shellModel$.value.Login }}
            </a>
            <button mat-button [matMenuTriggerFor]="menuSettings">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-button *ngIf="shellService.shellModel$.value.Language === 'fr-CA'"
                (click)="changeLang()">English</button>
            <button mat-button *ngIf="shellService.shellModel$.value.Language === 'en-CA'"
                (click)="changeLang()">Français</button>
        </span>
    </span>
</mat-toolbar>

<!-- Drawer With Commands-->
<mat-drawer-container>
    <mat-drawer #drawer opened mode="side">
        <p>
            <a mat-button routerLink="generate-enums" title="Open Generate Enums" routerLinkActive="active-link">
                Generate Enums
            </a>
        </p>
        <p>
            <a mat-button routerLink="generate-models" title="Open Generate Models" routerLinkActive="active-link">
                Generate Models
            </a>
        </p>
        <p>
            <a mat-button routerLink="generate-services" title="Open Generate Services" routerLinkActive="active-link">
                Generate Services
            </a>
        </p>
        <p>
            <a mat-button routerLink="generate-webapi" title="Open Generate Web API" routerLinkActive="active-link">
                Generate Web API
            </a>
        </p>
        <p>
            <a mat-button routerLink="generate-angular" title="Open Generate Angular" routerLinkActive="active-link">
                Generate Angular
            </a>
        </p>
    </mat-drawer>
    <div class="margin20">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>