<mat-menu #menu>
    <button *ngIf="!shellModel.leftIconsVisible" mat-menu-item (click)="toggleIcons()">{{ shellModel.showIcons }}</button>
    <button *ngIf="shellModel.leftIconsVisible" mat-menu-item (click)="toggleIcons()">{{ shellModel.hideIcons }}</button>
</mat-menu>
<mat-toolbar>
    <span class="top">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="">{{ shellModel.appTitle }}
        </a>
        <span class="right">
            <button mat-button *ngIf="!shellModel.isEnglish" (click)="changeLang()">English</button>
            <button mat-button *ngIf="shellModel.isEnglish" (click)="changeLang()">Français</button>
        </span>
    </span>
</mat-toolbar>
<div *ngIf="shellModel.leftIconsVisible" class="left">
    <p>
        <a mat-button routerLink="enums" title="Open Enums" routerLinkActive="active-link" (click)="selectButton('First', drawer)">
            <mat-icon>apps</mat-icon>
        </a>
    </p>
    <p>
        <a mat-button routerLink="models" title="Open Models" routerLinkActive="active-link" (click)="selectButton('Second', drawer)">
            <mat-icon>child_care</mat-icon>
        </a>
    </p>
    <p>
        <a mat-button routerLink="services" title="Open Services" routerLinkActive="active-link" (click)="selectButton('Third', drawer)">
            <mat-icon>apartment</mat-icon>
        </a>
    </p>
</div>
<div clas="right">
    <mat-drawer-container>
        <mat-drawer #drawer mode="side">
            <div *ngIf="shellModel.currentButtonSelect === 'First'">
                First
            </div>
            <div *ngIf="shellModel.currentButtonSelect === 'Second'">
                Second
            </div>
            <div *ngIf="shellModel.currentButtonSelect === 'Third'">
                Third
            </div>
        </mat-drawer>
        <div class="margin20">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>