<!-- Settings Menu -->
<mat-menu #menuSettings>
    <button mat-menu-item (click)="nothing()">Settings First Menu</button>
    <button mat-menu-item (click)="nothing()">Settings Second Menu</button>
</mat-menu>

<!-- Top Toolbar -->
<mat-toolbar>
    <span class="top">
        <button mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="">{{ shellModel.appTitle }}
        </a>
        <span class="right">
            <button mat-button [matMenuTriggerFor]="menuSettings">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-button *ngIf="!shellModel.isEnglish" (click)="changeLang()">English</button>
            <button mat-button *ngIf="shellModel.isEnglish" (click)="changeLang()">Français</button>
        </span>
    </span>
</mat-toolbar>

<!-- Drawer With Commands-->
<mat-drawer-container>
    <mat-drawer #drawer opened mode="side">
        <p>
            <a mat-button routerLink="enums" title="Open Enums" routerLinkActive="active-link">
                Enums
            </a>
        </p>
        <p>
            <a mat-button routerLink="models" title="Open Models" routerLinkActive="active-link">
                Models
            </a>
        </p>
        <p>
            <a mat-button routerLink="services" title="Open Services" routerLinkActive="active-link">
                Services
            </a>
        </p>
    </mat-drawer>
    <div class="margin20">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>