<blockquote *ngIf="MWQMRunModelSiteAndSampleModel">
    <strong>{{
        appLanguageService.AppLanguage.TVItemListDetailMWQMRunDetailPrecipitations[appStateService.AppState$?.getValue()?.Language]
        }} </strong>
    <span> (mm) : {{
        appLanguageService.AppLanguage.TVItemListDetailMWQMRunDetailDay[appStateService.AppState$?.getValue()?.Language]
        }}
    </span>
    <span>
        (0) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay0_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-1) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay1_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-2) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay2_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-3) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay3_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-4) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay4_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-5) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay5_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-6) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay6_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-7) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay7_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-8) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay8_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-9) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay9_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <span>
        (-10) [<strong>{{ MWQMRunModelSiteAndSampleModel?.MWQMRunModel?.MWQMRun?.RainDay10_mm | number:'1.1-1'
            }}</strong>]&nbsp;&nbsp;
    </span>
    <p>
        <span *ngFor="let MWQMSiteModelAndSampleModel of MWQMRunModelSiteAndSampleModel?.MWQMSiteModelAndSampleModelList">
            <span class="{{ GetClassFromFCValue(MWQMSiteModelAndSampleModel?.MWQMSampleModel.MWQMSample?.FecCol_MPN_100ml) }}">
                {{
                    MWQMSiteModelAndSampleModel?.MWQMSiteModel?.TVItemModel?.TVItemLanguageList[appStateService.AppState$?.getValue()?.Language].TVText
                }}&nbsp;({{ MWQMSiteModelAndSampleModel?.MWQMSampleModel.MWQMSample?.FecCol_MPN_100ml }})
            </span>
        </span>

    </p>
    <hr />
</blockquote>