<h1>Action Commands</h1>

<div>
    <button [disabled]="actionCommandService.refillAllModel$.getValue().Working"
        (click)="GetOrRefillAllActionCommand('RefillAll')" mat-button color="primary"><span>Refill all action
            command</span>
        <mat-progress-bar mode="indeterminate" *ngIf="actionCommandService.refillAllModel$.getValue().Working">
        </mat-progress-bar>
    </button>
    <mat-error *ngIf="actionCommandService.refillAllModel$.getValue().Error">
        <span>
            {{ actionCommandService.refillAllModel$.getValue().Error.error }}
        </span>
    </mat-error>
</div>

<div>
    <button [disabled]="actionCommandService.getAllModel$.getValue().Working"
        (click)="GetOrRefillAllActionCommand('GetAll')" mat-button color="primary"><span>Get all action command</span>
        <mat-progress-bar mode="indeterminate" *ngIf="actionCommandService.getAllModel$.getValue().Working">
        </mat-progress-bar>
    </button>
    <mat-error *ngIf="actionCommandService.getAllModel$.getValue().Error">
        <span>
            {{ actionCommandService.getAllModel$.getValue().Error.error }}
        </span>
    </mat-error>
</div>

<ul *ngIf="actionCommandService.actionCommandModel$.getValue().ActionCommandList">
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Command&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Percent Completed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Update Date
    </li>
    <li *ngFor="let actionCommand of actionCommandService.actionCommandModel$.getValue().ActionCommandList">
        <button (click)="ViewDetails(actionCommand)" mat-button color="primary">
            <mat-icon *ngIf="!actionCommand.ViewDetails">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="actionCommand.ViewDetails">arrow_drop_up</mat-icon>
        </button>
        <span>&nbsp;&nbsp;{{ actionCommand.Action }}&nbsp;&nbsp;</span>
        <button disabled="{{ actionCommand.Working }}" (click)="RunActionCommand(actionCommand)" mat-button
            color="primary">
            {{ actionCommand.Command }}
        </button>
        <span>{{ actionCommand.PercentCompleted }} % completed @
            {{ actionCommand.LastUpdateDate | date:'yyyy MMMM dd HH:mm:ss' }}</span>
        <mat-progress-bar *ngIf="actionCommand.Working" mode="indeterminate">
        </mat-progress-bar>

        <mat-error *ngIf="actionCommand.Error">
            <span>
                {{ actionCommand.Error.error }}
            </span>
        </mat-error>

        <div *ngIf="actionCommand.ViewDetails">
            <mat-card>
                <p>{{ actionCommand.FullFileName }}</p>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab *ngIf="actionCommand.Description" label="Description">
                            <pre>{{ actionCommand.Description }}</pre>
                        </mat-tab>
                        <mat-tab *ngIf="actionCommand.TempStatusText" label="Temp Status Text">
                            <pre>{{ actionCommand.TempStatusText }}</pre>
                        </mat-tab>
                        <mat-tab *ngIf="actionCommand.ExecutionStatusText" label="Execution Status Text">
                            <pre>{{ actionCommand.ExecutionStatusText }}</pre>
                        </mat-tab>
                        <mat-tab *ngIf="actionCommand.FilesStatusText" label="Files Status Text">
                            <pre>{{ actionCommand.FilesStatusText }}</pre>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </li>
</ul>