<span *ngIf="ShellModel?.TVTypeProvince">
    <span>Province</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeProvince" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="ShellModel?.TVTypeMunicipality">
    <span>Municipality</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeMunicipality" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="ShellModel?.TVTypeSubsector">
    <span>Subsector</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeSubsector" [TVItemModel]="TVItemModel">
    </app-child-count></span>
<span *ngIf="ShellModel?.TVTypeMWQMSite">
    <span>MWQM site</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeMWQMSite" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="ShellModel?.TVTypeMWQMRun">
    <span>MWQM Run</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeMWQMRun" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="ShellModel?.TVTypeMWQMSiteSample">
    <span>MWQM Sample</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeMWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="ShellModel?.TVTypeMikeScenario">
    <span>Mike Scenario</span>
    <app-child-count [ShellModel]="ShellModel" [TVType]="ShellModel?.TVTypeMikeScenario" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
