<span *ngIf="tvTypeEnum.Province">
    <span>Province</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.Province" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="tvTypeEnum.Municipality">
    <span>Municipality</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.Municipality" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="tvTypeEnum.Subsector">
    <span>Subsector</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
    </app-child-count></span>
<span *ngIf="tvTypeEnum.MWQMSite">
    <span>MWQM site</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="tvTypeEnum.MWQMRun">
    <span>MWQM Run</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSiteSample">
    <span>MWQM Sample</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
<span *ngIf="tvTypeEnum.MikeScenario">
    <span>Mike Scenario</span>
    <app-child-count [AppVar]="AppVar" [TVType]="tvTypeEnum.MikeScenario" [TVItemModel]="TVItemModel">
    </app-child-count>
</span>
