<span *ngIf="appStateService.Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>
<p class="loading-status" *ngIf="appStateService.Status">
    {{ appStateService.Status }}
</p>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionRoot(rootSubComponentEnum.Countries)"
    (click)="componentShowService.ShowRoot(rootSubComponentEnum.Countries)"
    title="{{ appLanguageService.RootShowCountries[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.RootCountries[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebRoot?.TVItemModel, tvTypeEnum.Country) }}&nbsp;&nbsp;
        </span>
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.RootCountries, ascDescEnum.Ascending)"
        *ngIf="appStateService.RootCountriesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="tvItemSortOrderService.ChangeTVItemSortOrder(sortOrderAngular.RootCountries, ascDescEnum.Descending)"
        *ngIf="appStateService.RootCountriesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>

<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionRoot(rootSubComponentEnum.Files)"
    (click)="componentShowService.ShowRoot(rootSubComponentEnum.Files)"
    title="{{ appLanguageService.RootShowFiles[appLanguageService.LangID] }}">
    <span>
        {{ appLanguageService.RootFiles[appLanguageService.LangID] }}
        <span class="badge-stat" *ngIf="appStateService.StatCountVisible">
            &nbsp;&nbsp;{{ statCountService.GetStatCount(appLoadedService.WebRoot?.TVItemModel, tvTypeEnum.File) }}/
            {{ statCountService.GetStatCount(appLoadedService.WebRoot?.TVItemModel, tvTypeEnum.TotalFile) }}&nbsp;&nbsp;
        </span>
    </span>
</button>
<button mat-button [ngClass]="componentButtonSelectionService.ColorSelectionRoot(rootSubComponentEnum.ExportArcGIS)"
    (click)="componentShowService.ShowRoot(rootSubComponentEnum.ExportArcGIS)"
    title="{{ appLanguageService.RootShowExportArcGISTools[appLanguageService.LangID] }}">
    {{ appLanguageService.RootExportArcGIS[appLanguageService.LangID] }}
</button>

<app-country-tvitem-list-item *ngIf="appStateService.RootSubComponent == rootSubComponentEnum.Countries"
    
    [TVItemModelList]="appLoadedService.WebRoot.TVItemModelCountryList">
</app-country-tvitem-list-item>

<app-file-list *ngIf="appStateService.RootSubComponent == rootSubComponentEnum.Files"
    
    [TVFileModelListList]="appLoadedService.WebRoot.TVFileModelList">
</app-file-list>

<div *ngIf="appStateService.RootSubComponent == rootSubComponentEnum.ExportArcGIS">
    <app-export-arc-gis-item ></app-export-arc-gis-item>
</div>