<span>
    {{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.ColorAndLetter?.letter }}
</span>
<span>&nbsp;</span>
<span class="{{ StatMWQMSite?.StatMWQMSiteSampleList[0]?.ColorAndLetter?.color }}">
    &nbsp;&nbsp;
</span>
<span>&nbsp;</span>
<span [ngClass]="TVItemModel?.TVItem?.IsActive ? '' : 'inactive'">
    <span *ngIf="appStateService.UserPreference.MapVisible">
        {{ Index }}&nbsp;-&nbsp;
    </span>
    <span *ngIf="appStateService.UserPreference.DetailVisible">
        [{{ TVItemModel?.TVItem?.TVItemID }}]
    </span>
    {{ TVItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
</span>
<span>
    ({{ GetMWQMSiteLatestClassificationEnum_GetIDText(StatMWQMSite?.MWQMSiteModel?.MWQMSite?.MWQMSiteLatestClassification) }})
</span>
<app-stat-count *ngIf="appStateService.UserPreference.StatCountVisible" [TVType]="tvTypeEnum.MWQMSiteSample"
    [TVItemModel]="TVItemModel"></app-stat-count>
<app-tvitem-last-update *ngIf="appStateService.UserPreference.LastUpdateVisible"
    [TVItemModel]="TVItemModel"></app-tvitem-last-update>

<span *ngFor="let statMWQMSiteSample of StatMWQMSite?.StatMWQMSiteSampleList">
    <span *ngIf="IsFirstOfNewYear(statMWQMSiteSample?.SampleDate?.toString())">
        <span title="{{ statMWQMSiteSample?.LastSampleDate | date:'yyyy' }}"
            class="{{ statMWQMSiteSample?.ColorAndLetter?.color }}">&nbsp;{{ statMWQMSiteSample?.ColorAndLetter?.letter
            }}&nbsp;</span>
        <span *ngIf="Year % 10 == 0">{{Year}}</span>
    </span>
</span>