<span *ngIf="(appLoadedService.AppLoaded$ | async).Working">
</span>
<span *ngIf="(appStateService.AppState$ | async).Working">
</span>

<button mat-button [matMenuTriggerFor]="countryMenu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #countryMenu="matMenu">
    <h3>&nbsp;&nbsp;Country Menu</h3>
    <button mat-button
    [ngClass]="appStateService.AppState$?.getValue()?.InactVisible ? 'selected' : ''"
    (click)="ToggleInactive()">Inactive</button>
    <button mat-button
    [ngClass]="appStateService.AppState$?.getValue()?.DetailVisible ? 'selected' : ''"
    (click)="ToggleDetail()">Detail</button>
    <button mat-button
    [ngClass]="appStateService.AppState$?.getValue()?.EditVisible ? 'selected' : ''"
    (click)="ToggleEdit()">Edit</button>
</mat-menu>

<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.Provinces)" (click)="Show(countrySubComponentEnum.Provinces)">Provinces</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.Files)" (click)="Show(countrySubComponentEnum.Files)">Files</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.OpenDataNational)" (click)="Show(countrySubComponentEnum.OpenDataNational)">Open Data National</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.EmailDistributionList)" (click)="Show(countrySubComponentEnum.EmailDistributionList)">Email Distribution List</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.RainExceedance)" (click)="Show(countrySubComponentEnum.RainExceedance)">RainExceedance</button>

<app-tvitem-list *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.Provinces"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.AppLoaded$?.getValue()?.CountryProvinceList">
</app-tvitem-list>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelList]="appLoadedService.AppLoaded$?.getValue()?.WebCountry?.TVItemModel?.TVFileModelList">
</app-file-list>

<div *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.OpenDataNational">
    Not implemented yet. Need to create OpenDataNationalComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.EmailDistributionList">
    Not implemented yet. Need to create EmailDistributionListComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.RainExceedance">
    Not implemented yet. Need to create RainExceedanceComponent.
</div>