<div>
    <mat-toolbar>
        <a mat-button title="{{ shellVar.OpenMenuOptions }}" (click)="goHome()">
            <mat-icon>menu</mat-icon>
        </a>
        <a mat-button title="{{ shellVar.OpenMenuOptions }}">
            <span>{{ shellVar.AppTitle }}</span>
        </a>
        <span class="spacer"></span>
        <p>
            <button mat-button *ngIf="!shellVar.IsEnglish" (click)="changeLang()">English</button>
            <button mat-button *ngIf="shellVar.IsEnglish" (click)="changeLang()">Français</button>
        </p>
</mat-toolbar>
    <div class="left">
        <p>
            <a mat-button routerLink="code" title="allo" routerLinkActive="active-link"
                (click)="iconClick('First', drawer)">
                <mat-icon>home</mat-icon>
            </a>
        </p>
        <p>
            <a mat-button routerLink="code2" title="allo2" routerLinkActive="active-link"
                (click)="iconClick('Second', drawer)">
                <mat-icon>home</mat-icon>
            </a>
        </p>
        <p>
            <a mat-button routerLink="code3" title="allo3" routerLinkActive="active-link"
                (click)="iconClick('Third', drawer)">
                <mat-icon>home</mat-icon>
            </a>
        </p>
    </div>
    <div class="right">
        <mat-drawer-container>
            <mat-drawer #drawer class="margin20" mode="side">
            </mat-drawer>
            <mat-drawer-content>
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>