.left {
    float: left;
    width: 68px;
    text-align: center;
  }  
  .right {
    display: right;
    width: 100%;
  }
  .active-link {
    background-color: aquamarine;
  }
  .spacer {
    flex: 1 1 auto;
  }