<span *ngIf="(appStateService.AppState$ | async).Working">
</span>

<span *ngIf="tvTypeEnum.Country">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootCountry[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Country" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Province">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootProvince[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Province" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Municipality">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootMunicipality[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Municipality" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.Subsector">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootSubsector[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.Subsector" [TVItemModel]="TVItemModel">
    </app-stat-count></span>
<span *ngIf="tvTypeEnum.MWQMSite">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootMWQMSite[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSite" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMRun">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootMWQMRun[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMRun" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MWQMSiteSample">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootMWQMSample[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MWQMSiteSample" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
<span *ngIf="tvTypeEnum.MikeScenario">
    <span>{{ appLanguageService.AppLanguage.TVItemListDetailRootMikeScenario[appStateService.AppState$?.getValue().Language] }}</span>
    <app-stat-count [TVType]="tvTypeEnum.MikeScenario" [TVItemModel]="TVItemModel">
    </app-stat-count>
</span>
