<mat-list *ngFor="let tvItemModel of TVItemModelList; let i = index">
    <app-tvitem-menu [TVItemModel]="tvItemModel">
    </app-tvitem-menu>

    <button mat-button (click)="subPageService.SetSubPage(tvItemModel)">
        <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.UserPreference.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.UserPreference.DetailVisible">
                [{{ tvItemModel?.TVItem?.TVItemID }}]
            </span>
            {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.UserPreference.StatCountVisible" [TVType]="null"
            [TVItemModel]="tvItemModel"></app-stat-count>
        <app-tvitem-last-update *ngIf="appStateService.UserPreference.LastUpdateVisible" [TVItemModel]="tvItemModel">
        </app-tvitem-last-update>
    </button>

    <app-mike-scenario-item-menu-open *ngIf="showTVItemService.TVItemVisible(tvItemModel)" [TVItemModel]="tvItemModel">
    </app-mike-scenario-item-menu-open>

    <app-mike-scenario-tvitem-list-detail *ngIf="appStateService.UserPreference.DetailVisible"
        [TVItemModel]="tvItemModel">
    </app-mike-scenario-tvitem-list-detail>
</mat-list>