.BorderWWTP {
    border-left: 6px solid #FF0000;
    border-bottom: 1px solid #FF0000;
}

.BorderLiftStation {
    border-left: 6px solid #880000;
    border-bottom: 1px solid #880000;
}

.BorderOutfall {
    border-left: 6px solid #BB6600;
    border-bottom: 1px solid #BB6600;
}

.BorderLineOverflow {
    border-left: 6px solid #666600;
    border-bottom: 1px solid #666600;
}

.BorderOtherInfrastructure {
    border-left: 6px solid #888800;
    border-bottom: 1px solid #888800;
}
