<mat-form-field [ngClass]="formFieldWidthClass">
    <input (focus)="ToggleSearchWidth()" (blur)="ToggleSearchWidth()" type="text" placeholder="Search"
        aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="searchAuto">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #searchAuto="matAutocomplete" (optionSelected)="NavigateTo($event.option.value)"
        [displayWith]="displayFn">
        <mat-option *ngFor="let option of (appLoadedService.AppLoaded$ | async).SearchResult" [value]="option">
            <app-search-option [searchResult]="option"></app-search-option>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>