<p>{{ homeVar.Title }}</p>
<div>
    <a mat-button routerLink="code" title="allo" routerLinkActive="active-link">
        <mat-icon>home</mat-icon><span>Code</span>
    </a>
    <a mat-button routerLink="code2" title="allo" routerLinkActive="active-link">
        <mat-icon>home</mat-icon><span>Code 2</span>
    </a>
    <a mat-button routerLink="code3" title="allo" routerLinkActive="active-link">
        <mat-icon>home</mat-icon><span>Code 3</span>
    </a>
</div>
<router-outlet></router-outlet>