<mat-list *ngFor="let tvItemStatMapModel of TVItemModelList; let i = index">
    <app-tvitem-menu [TVItemModel]="tvItemStatMapModel" [AppState]="AppState">
    </app-tvitem-menu>

    <button mat-button (click)="subPageService.SetSubPage(tvItemStatMapModel)">
        <span [ngClass]="tvItemStatMapModel?.TVItem?.IsActive ? '' : 'inactive'">
            <span *ngIf="appStateService.AppState$?.getValue()?.MapVisible">
                {{ i + 1 }}&nbsp;-&nbsp;
            </span>
            <span *ngIf="appStateService.AppState$?.getValue()?.DetailVisible">
                [{{ tvItemStatMapModel?.TVItem.TVItemID }}]
            </span>
            {{ tvItemStatMapModel?.TVItemLanguageList[this.appStateService.AppState$.getValue().Language]?.TVText }}
        </span>
        <app-stat-count *ngIf="appStateService.AppState$.getValue().StatCountVisible" [TVType]="null"
            [TVItemModel]="tvItemStatMapModel"></app-stat-count>
        <app-last-udpate-tv-item-model *ngIf="appStateService.AppState$?.getValue()?.LastUpdateVisible"
            [TVItemModel]="tvItemStatMapModel"></app-last-udpate-tv-item-model>
    </button>

    <app-area-item-view *ngIf="showTVItemService.TVItemVisible(tvItemStatMapModel)"
        [TVItemModel]="tvItemStatMapModel" [AppState]="AppState">
    </app-area-item-view>

    <app-area-item-edit *ngIf="AppState.EditVisible"
        [TVItemModel]="tvItemStatMapModel" [AppState]="AppState">
    </app-area-item-edit>

    <app-area-tvitem-list-detail [AppState]="AppState" *ngIf="AppState?.DetailVisible"
        [TVItemModel]="tvItemStatMapModel">
    </app-area-tvitem-list-detail>
</mat-list>