<span *ngIf="(appStateService.AppState$ | async).Working || (appLoadedService.AppLoaded$ | async).Working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</span>

<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.Provinces)"
    (click)="Show(countrySubComponentEnum.Provinces)"
    title="{{ appLanguageService.AppLanguage.CountryShowProvinces[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.CountryProvinces[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebCountry.TVItemModel, tvTypeEnum.Province) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('CountryProvincesSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().CountryProvincesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVItemSortOrder('CountryProvincesSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().CountryProvincesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.Files)"
    (click)="Show(countrySubComponentEnum.Files)"
    title="{{ appLanguageService.AppLanguage.CountryShowFiles[appStateService.AppState$?.getValue().Language] }}">
    <span>
        {{ appLanguageService.AppLanguage.CountryFiles[appStateService.AppState$?.getValue().Language] }}
        ({{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebCountry.TVItemModel, tvTypeEnum.File) }}/
        {{ appHelperService.GetCount(appLoadedService.AppLoaded$.getValue().WebCountry.TVItemModel, tvTypeEnum.TotalFile) }})
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVFileSortOrder('CountryFilesSortOrder', ascDescEnum.Ascending)"
        *ngIf="appStateService.AppState$.getValue().CountryFilesSortOrder == ascDescEnum.Descending">
        &nbsp;&nbsp;&uarr;
    </span>
    <span class="biggerArrow"
        (click)="appLoadedService.ChangeTVFileSortOrder('CountryFilesSortOrder', ascDescEnum.Descending)"
        *ngIf="appStateService.AppState$.getValue().CountryFilesSortOrder == ascDescEnum.Ascending">
        &nbsp;&nbsp;&darr;
    </span>
</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.OpenDataNational)"
    (click)="Show(countrySubComponentEnum.OpenDataNational)"
    title="{{ appLanguageService.AppLanguage.CountryShowOpenDataNationalTools[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.CountryOpenDataNational[appStateService.AppState$?.getValue().Language] }}
</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.EmailDistributionList)"
    (click)="Show(countrySubComponentEnum.EmailDistributionList)"
    title="{{ appLanguageService.AppLanguage.CountryShowEmailDistributionList[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.CountryEmailDistributionList[appStateService.AppState$?.getValue().Language] }}
</button>
<button mat-button [ngClass]="ColorSelection(countrySubComponentEnum.RainExceedance)"
    (click)="Show(countrySubComponentEnum.RainExceedance)"
    title="{{ appLanguageService.AppLanguage.CountryShowRainExceedance[appStateService.AppState$?.getValue().Language] }}">
    {{ appLanguageService.AppLanguage.CountryRainExceedance[appStateService.AppState$?.getValue().Language] }}
</button>

<app-tvitem-list *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.Provinces"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVItemList]="appLoadedService.SortTVItemList(appLoadedService.AppLoaded$?.getValue()?.CountryProvinceList)">
</app-tvitem-list>

<app-file-list *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.Files"
    [AppState]="appStateService.AppState$?.getValue()"
    [TVFileModelList]="appLoadedService.SortTVFileList(appLoadedService.AppLoaded$?.getValue()?.CountryProvinceList, 
    appLoadedService.AppLoaded$?.getValue()?.WebCountry?.TVItemModel?.TVFileModelList)">
</app-file-list>

<div *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.OpenDataNational">
    Not implemented yet. Need to create OpenDataNationalComponent.
</div>

<div
    *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.EmailDistributionList">
    Not implemented yet. Need to create EmailDistributionListComponent.
</div>

<div *ngIf="appStateService.AppState$?.getValue()?.CountrySubComponent == countrySubComponentEnum.RainExceedance">
    Not implemented yet. Need to create RainExceedanceComponent.
</div>