<button mat-button *ngFor="let tvItemModel of appLoadedService.BreadCrumbTVItemModelList; let i = index"
    [ngClass]="(appLoadedService.BreadCrumbTVItemModelList?.length - 1 == i) ? 'selected' : ''"
    (click)="subPageService.SetSubPage(tvItemModel)">
    <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
        <span *ngIf="appStateService.UserPreference?.DetailVisible">
            [{{ tvItemModel?.TVItem?.TVItemID }}]
        </span>
        {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
    </span>
    <app-stat-count *ngIf="appStateService.UserPreference?.StatCountVisible" [TVType]="null"
        [TVItemModel]="tvItemModel">
    </app-stat-count>
</button>

<span>&nbsp;&nbsp;</span>
<button mat-button *ngIf="appLoadedService.BreadCrumbTVItemModelList?.length > 1"
    [ngClass]="appStateService.ShowMonitoringStats? 'selected' : ''" (click)="appStateService.ShowMonitoringStats = !appStateService.ShowMonitoringStats"
    title="{{ appLanguageService.MonitoringStats[appLanguageService.LangID] }}">
    <mat-icon>menu</mat-icon>
</button>

<app-monitoring-stats *ngIf="appStateService.ShowMonitoringStats"></app-monitoring-stats>
