<button mat-button *ngFor="let tvItemModel of appLoadedService.BreadCrumbTVItemModelList; let i = index"
    [ngClass]="(appLoadedService.BreadCrumbTVItemModelList?.length - 1 == i) ? 'selected' : ''"
    (click)="subPageService.SetSubPage(tvItemModel)">
    <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
        <span *ngIf="appStateService.UserPreference?.DetailVisible">
            [{{ tvItemModel?.TVItem?.TVItemID }}]
        </span>
        {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
    </span>
    <app-stat-count *ngIf="appStateService.UserPreference?.StatCountVisible" [TVType]="null"
        [TVItemModel]="tvItemModel">
    </app-stat-count>
</button>

<span>&nbsp;&nbsp;</span>
<button mat-button *ngIf="appLoadedService.BreadCrumbTVItemModelList?.length > 1"
    [ngClass]="appStateService.ShowMonitoringStats? 'selected' : ''" (click)="ToggleMonitoringStatsVisible()"
    title="{{ appLanguageService.MonitoringStats[appLanguageService.LangID] }}">
    <mat-icon>menu</mat-icon>
</button>

<mat-card *ngIf="appStateService.ShowMonitoringStats" class="mat-elevation-z0">
    <mat-card-header>
      <h3>{{ appLanguageService.MonitoringStats[appLanguageService.LangID] }}</h3>
    </mat-card-header>
    <mat-card-content>
        <app-chart-base
        [TVItemModel]="appLoadedService.BreadCrumbTVItemModelList[appLoadedService.BreadCrumbTVItemModelList.length - 1]"
        [webChartAndTableType]="webChartAndTableType.MonitoringStatsByYear"
        [ChartVisible]="false">
    </app-chart-base>
    <app-table-base
        [TVItemModel]="appLoadedService.BreadCrumbTVItemModelList[appLoadedService.BreadCrumbTVItemModelList.length - 1]"
        [webChartAndTableType]="webChartAndTableType.MonitoringStatsByYear"
        [TableVisible]="false">
    </app-table-base>
    <app-chart-base
        [TVItemModel]="appLoadedService.BreadCrumbTVItemModelList[appLoadedService.BreadCrumbTVItemModelList.length - 1]"
        [webChartAndTableType]="webChartAndTableType.MonitoringStatsByMonth"
        [ChartVisible]="false">
    </app-chart-base>
    <app-table-base
        [TVItemModel]="appLoadedService.BreadCrumbTVItemModelList[appLoadedService.BreadCrumbTVItemModelList.length - 1]"
        [webChartAndTableType]="webChartAndTableType.MonitoringStatsByMonth"
        [TableVisible]="false">
    </app-table-base>
    <app-chart-base
        [TVItemModel]="appLoadedService.BreadCrumbTVItemModelList[appLoadedService.BreadCrumbTVItemModelList.length - 1]"
        [webChartAndTableType]="webChartAndTableType.MonitoringStatsBySeason"
        [ChartVisible]="false">
    </app-chart-base>
    <app-table-base
        [TVItemModel]="appLoadedService.BreadCrumbTVItemModelList[appLoadedService.BreadCrumbTVItemModelList.length - 1]"
        [webChartAndTableType]="webChartAndTableType.MonitoringStatsBySeason"
        [TableVisible]="false">
    </app-table-base>
    </mat-card-content>
</mat-card>
