<button mat-button *ngFor="let tvItemModel of appLoadedService.BreadCrumbTVItemModelList; let i = index"
    [ngClass]="(appLoadedService.BreadCrumbTVItemModelList?.length - 1 == i) ? 'selected' : ''"
    (click)="subPageService.SetSubPage(tvItemModel)">
    <span [ngClass]="tvItemModel?.TVItem?.IsActive ? '' : 'inactive'">
        <span *ngIf="appStateService.UserPreference?.DetailVisible">
            [{{ tvItemModel?.TVItem?.TVItemID }}]
        </span>
        {{ tvItemModel?.TVItemLanguageList[this.appLanguageService.LangID]?.TVText }}
    </span>
    <app-stat-count *ngIf="appStateService.UserPreference?.StatCountVisible" [TVType]="null"
        [TVItemModel]="tvItemModel">
    </app-stat-count>
</button>

<ng-container *ngIf="appLoadedService.BreadCrumbTVItemModelList?.length > 1">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" color="primary">
        <button mat-menu-item>{{ appLanguageService.MonitoringStats[appLanguageService.LangID] }}</button>
        <mat-divider></mat-divider>
        <button mat-menu-item [ngClass]="appStateService.ShowMonitoringStatsChartByYear ? 'selected' : ''"
            (click)="appStateService.ShowMonitoringStatsChartByYear = !appStateService.ShowMonitoringStatsChartByYear">
            <span>
                <mat-icon>insights</mat-icon>
                {{ appLanguageService.Chart[appLanguageService.LangID] }}
                {{ appLanguageService.ByYear[appLanguageService.LangID] }}

            </span>
        </button>
        <button mat-menu-item [ngClass]="appStateService.ShowMonitoringStatsTableByYear ? 'selected' : ''"
            (click)="appStateService.ShowMonitoringStatsTableByYear = !appStateService.ShowMonitoringStatsTableByYear">
            <span>
                <mat-icon>table_rows</mat-icon>
                {{ appLanguageService.Table[appLanguageService.LangID] }}
                {{ appLanguageService.ByYear[appLanguageService.LangID] }}
            </span>
        </button>
        <button mat-menu-item [ngClass]="appStateService.ShowMonitoringStatsChartByMonth ? 'selected' : ''"
            (click)="appStateService.ShowMonitoringStatsChartByMonth = !appStateService.ShowMonitoringStatsChartByMonth">
            <span>
                <mat-icon>insights</mat-icon>
                {{ appLanguageService.Chart[appLanguageService.LangID] }}
                {{ appLanguageService.ByMonth[appLanguageService.LangID] }}
            </span>
        </button>
        <button mat-menu-item [ngClass]="appStateService.ShowMonitoringStatsTableByMonth ? 'selected' : ''"
            (click)="appStateService.ShowMonitoringStatsTableByMonth = !appStateService.ShowMonitoringStatsTableByMonth">
            <span>
                <mat-icon>table_rows</mat-icon>
                {{ appLanguageService.Table[appLanguageService.LangID] }}
                {{ appLanguageService.ByMonth[appLanguageService.LangID] }}
            </span>
        </button>
        <button mat-menu-item [ngClass]="appStateService.ShowMonitoringStatsChartBySeason ? 'selected' : ''"
            (click)="appStateService.ShowMonitoringStatsChartBySeason = !appStateService.ShowMonitoringStatsChartBySeason">
            <span>
                <mat-icon>insights</mat-icon>
                {{ appLanguageService.Chart[appLanguageService.LangID] }}
                {{ appLanguageService.BySeason[appLanguageService.LangID] }}
            </span>
        </button>
        <button mat-menu-item [ngClass]="appStateService.ShowMonitoringStatsTableBySeason ? 'selected' : ''"
            (click)="appStateService.ShowMonitoringStatsTableBySeason = !appStateService.ShowMonitoringStatsTableBySeason">
            <span>
                <mat-icon>table_rows</mat-icon>
                {{ appLanguageService.Table[appLanguageService.LangID] }}
                {{ appLanguageService.BySeason[appLanguageService.LangID] }}
            </span>
        </button>
    </mat-menu>

    <app-chart-card *ngIf="appStateService.ShowMonitoringStatsChartByYear" [webChartAndTableType]="webChartAndTableType.MonitoringStatsByYear">
    </app-chart-card>
    <app-table-card *ngIf="appStateService.ShowMonitoringStatsTableByYear" [webChartAndTableType]="webChartAndTableType.MonitoringStatsByYear">
    </app-table-card>
    <app-chart-card *ngIf="appStateService.ShowMonitoringStatsChartByMonth" [webChartAndTableType]="webChartAndTableType.MonitoringStatsByMonth">
    </app-chart-card>
    <app-table-card *ngIf="appStateService.ShowMonitoringStatsTableByMonth" [webChartAndTableType]="webChartAndTableType.MonitoringStatsByMonth">
    </app-table-card>
    <app-chart-card *ngIf="appStateService.ShowMonitoringStatsChartBySeason" [webChartAndTableType]="webChartAndTableType.MonitoringStatsBySeason">
    </app-chart-card>
    <app-table-card *ngIf="appStateService.ShowMonitoringStatsTableBySeason" [webChartAndTableType]="webChartAndTableType.MonitoringStatsBySeason">
    </app-table-card>
</ng-container>