/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.selected {
    background-color: green;
    color: white;
  }

  .biggerArrow {
    font-size: larger;
  }

  .badge-stat {
    border: 1px solid lightgreen;
    padding: 3px;
    border-radius: 25px;
}