<img src="{{ fileIconService.GetFileIcon(TVFileModel) }}" />
<span>&nbsp;&nbsp;{{ Index }} - </span>
<!-- <a href="{{ GetURL() }}"> -->
<ng-container *ngIf="FilesSortByProp == filesSortByProp.FileName">
    <span>{{ TVFileModel?.TVFile?.ServerFileName }} </span>
    <span>| {{ TVFileModel?.TVFile?.FileSize_kb }} </span>
    <span>{{ appLanguageService.KB[appLanguageService.LangID] }} </span>
    <span>| {{ dateFormatService.GetFileCreateDate(TVFileModel) }} </span>
</ng-container>
<ng-container *ngIf="FilesSortByProp == filesSortByProp.FileType">
    <span>{{ TVFileModel?.TVFile?.ServerFileName.substring(TVFileModel?.TVFile?.ServerFileName.indexOf(".")) }}
    </span>
    <span>| {{ TVFileModel?.TVFile?.ServerFileName.substring(0,
        TVFileModel?.TVFile?.ServerFileName.indexOf(".")) }} </span>
    <span>| {{ TVFileModel?.TVFile?.FileSize_kb }} </span>
    <span>{{ appLanguageService.KB[appLanguageService.LangID] }} </span>
    <span>| {{ dateFormatService.GetFileCreateDate(TVFileModel) }} </span>
</ng-container>
<ng-container *ngIf="FilesSortByProp == filesSortByProp.FileSize">
    <span>{{ TVFileModel?.TVFile?.FileSize_kb }} </span>
    <span>{{ appLanguageService.KB[appLanguageService.LangID] }} </span>
    <span>| {{ TVFileModel?.TVFile?.ServerFileName }} </span>
    <span>| {{ dateFormatService.GetFileCreateDate(TVFileModel) }} </span>
</ng-container>
<ng-container *ngIf="FilesSortByProp == filesSortByProp.FileDate">
    <span>{{ dateFormatService.GetTVFileCreateDateTime_LocalDigit(TVFileModel?.TVFile) }} </span>
    <span>| {{ TVFileModel?.TVFile?.ServerFileName }} </span>
    <span>| {{ TVFileModel?.TVFile?.FileSize_kb }} </span>
    <span>{{ appLanguageService.KB[appLanguageService.LangID] }}</span>
</ng-container>
<span *ngIf="TVFileModel?.IsLocalized">{{ TVFileModel?.IsLocalized }}</span>
<!-- </a> -->