<mat-list-item (click)="ShowCommands(TVFileModel)">
    <button mat-button>
        <img src="{{ fileIconService.GetFileIcon(TVFileModel) }}" />
        <span>&nbsp;&nbsp;</span>
        <span>{{ Index }} - {{ TVFileModel.TVFile.ServerFileName }} </span>
        <span>| {{ TVFileModel.TVFile.FileSize_kb }} </span>
        <span>{{ appLanguageService.AppLanguage.KB[appStateService.AppState$?.getValue().Language] }} | </span>
        <span>{{ dateFormatService.GetFileCreateDate(TVFileModel) }}</span>
    </button>
</mat-list-item>
<app-file-list-item-detail [AppState]="AppState" *ngIf="AppState.DetailVisible" [TVFileModel]="TVFileModel">
</app-file-list-item-detail>
<p *ngIf="false">{{ TVFileModel | json }}</p>