<p>code works!22222222</p>

<button mat-raised-button color="primary">{{ generate }}</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button mat-raised-button color="primary" (click)="GetWeather()">{{ getTheWeather }}</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button mat-raised-button color="primary" (click)="GetMoreWeather()">{{ getMoreWeather }}</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button mat-raised-button color="primary" (click)="ClearWeather()">{{ clearWeather }}</button>

<ul *ngIf="(weatherService.weather$ | async) as wfs">
    <li *ngFor="let wf of wfs">
        {{ wf.Date }} - {{ wf.TemperatureC }} - {{ wf.TemperatureF }} - {{ wf.Summary }} </li>
</ul>
