<h1>Generate Enums</h1>

<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="GenerateEnums('CompareEnumsAndOldEnums')" mat-raised-button color="primary">
    {{ generateEnumsService.generateEnumsModel$.value.CompareEnumsAndOldEnums }}
</button>
<button class="status" disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="StatusEnums('CompareEnumsAndOldEnums')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="GenerateEnums('EnumsGenerated_cs')" mat-raised-button color="primary">
    {{generateEnumsService.generateEnumsModel$.value.EnumsGenerated_cs}}
</button>
<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="StatusEnums('EnumsGenerated_cs')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="GenerateEnums('EnumsTestGenerated_cs')" mat-raised-button color="primary">
    {{generateEnumsService.generateEnumsModel$.value.EnumsTestGenerated_cs}}
</button>
<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="StatusEnums('EnumsTestGenerated_cs')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="GenerateEnums('EnumsPolSourceInfoRelatedFiles')" mat-raised-button color="primary">
    {{generateEnumsService.generateEnumsModel$.value.GeneratePolSourceEnumCodeFiles}}
</button>
<button disabled="{{ generateEnumsService.generateEnumsModel$.value.Working }}"
    (click)="StatusEnums('EnumsPolSourceInfoRelatedFiles')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>

<mat-progress-bar *ngIf="generateEnumsService.generateEnumsModel$.value.Working" mode="indeterminate">
</mat-progress-bar>

<p *ngIf="generateEnumsService.generateEnumsModel$.value.Error">
    <mat-error>{{ generateEnumsService.generateEnumsModel$.value.Error.error.ErrorText }} </mat-error>
</p>
<div *ngIf="generateEnumsService.generateEnumsModel$.value.Status">
    <h1>{{ generateEnumsService.generateEnumsModel$.value.CurrentStatus }}</h1>
    <pre>
{{ generateEnumsService.generateEnumsModel$.value.Status }}
    </pre>
</div>