<h1>Generate Enums</h1>

<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunEnums('EnumsCompareWithOldEnums')" mat-raised-button color="primary">
    {{ generateEnumsService.generateEnumsModel$.value.CompareEnumsAndOldEnums }}
</button>
<button class="status" disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunStatus('EnumsCompareWithOldEnums')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunEnums('EnumsGenerated_cs')" mat-raised-button color="primary">
    {{generateEnumsService.generateEnumsModel$.value.EnumsGenerated_cs}}
</button>
<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunStatus('EnumsGenerated_cs')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunEnums('EnumsTestGenerated_cs')" mat-raised-button color="primary">
    {{generateEnumsService.generateEnumsModel$.value.EnumsTestGenerated_cs}}
</button>
<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunStatus('EnumsTestGenerated_cs')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>
<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunEnums('EnumsPolSourceInfoRelatedFiles')" mat-raised-button color="primary">
    {{generateEnumsService.generateEnumsModel$.value.GeneratePolSourceEnumCodeFiles}}
</button>
<button disabled="{{ dotNetService.dotNetModel$.value.Working }}"
    (click)="RunStatus('EnumsPolSourceInfoRelatedFiles')" mat-raised-button color="primary">
    S
</button>
<span>&nbsp;&nbsp;&nbsp;</span>

<mat-progress-bar *ngIf="dotNetService.dotNetModel$.value.Working" mode="indeterminate">
</mat-progress-bar>

<p *ngIf="dotNetService.dotNetModel$.value.Error">
    <mat-error>{{ dotNetService.dotNetModel$.value.Error.error.ErrorText }} </mat-error>
</p>
<div *ngIf="dotNetService.dotNetModel$.value.Status">
    <h1>{{ dotNetService.dotNetModel$.value.CurrentStatus }}</h1>
    <pre>
{{ dotNetService.dotNetModel$.value.Status }}
    </pre>
</div>