.left {
  float: left;
}

.right {
  float: right;
}

.toolbar {
  flex: 1 1 auto;
}

.margin10 {
  margin: 20px;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.sidenav-left {
  width: 200px;
}

.menuWidth {
  width: 800px;
}

.dragDrop
{
  z-index: 10000;
  float: right;
}