<mat-toolbar class="header">
    <span class="toolbar">
        <button mat-button
            title="{{ appLanguageService.ShellOpenHistoryMenu[appLanguageService.LangID] }}"
            [matMenuTriggerFor]="historyMenu">
            <mat-icon>history</mat-icon>
        </button>
        <mat-menu #historyMenu="matMenu">
            <div class="menuWidth">
                <button mat-menu-item *ngFor="let history of appStateService.UserPreference.History"
                    (click)="NavigateTo(history)">
                    {{ history.TVItemLanguageList[appLanguageService.LangID]?.TVText }}
                </button>
            </div>
        </mat-menu>

        <button (click)="togglesService.ToggleMenu()" mat-button [ngClass]="appStateService.UserPreference.LeftSideNavVisible ? 'selected' : ''"
            title="{{ appLanguageService.ShellOpenContextMenu[appLanguageService.LangID] }}">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button (click)="Home()"
            title="{{ appLanguageService.ShellReturnHome[appLanguageService.LangID] }}">
            {{ appLanguageService.ShellApplicationName[appLanguageService.LangID] }}
        </button>
        <span>
            <app-search></app-search>
        </span>
    </span>
    <button mat-raised-button class="dragDrop" cdkDragLockAxis="x" (cdkDragEnded)="onDragEnded($event)" cdkDrag>{{ appLanguageService.ShellResizeMap[appLanguageService.LangID] }}</button>
    <span class="right">
        <ng-container *ngIf="!appLoadedService.LoggedInContact?.HasInternetConnection">
            <button mat-button>
                <mat-icon
                    title="{{ appLanguageService.ShellNoInternet[appLanguageService.LangID] }}">
                    mobile_off</mat-icon>
            </button>
        </ng-container>
        <button mat-button>
            {{ appLanguageService.Version[appLanguageService.LangID] }} &nbsp;&nbsp;
            <mat-icon>account_circle</mat-icon>
            {{ appLoadedService.LoggedInContact?.LoginEmail }}   
        </button>
        <button mat-button *ngIf="(appLanguageService.Language == languageEnum.fr)"
            (click)="SetLanguage(languageEnum.en)">English</button>
        <button mat-button *ngIf="(appLanguageService.Language == languageEnum.en)"
            (click)="SetLanguage(languageEnum.fr)">Français</button>
        <ng-container *ngIf="appLoadedService.LoggedInContact?.HasInternetConnection">
            <button mat-button (click)="togglesService.ToggleMap()"
                title="{{ appLanguageService.ShellShowMap[appLanguageService.LangID] }}">
                <mat-icon>map</mat-icon>
            </button>
        </ng-container>
    </span>
</mat-toolbar>

<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav-left" #leftSideNav [opened]="appStateService.UserPreference.LeftSideNavVisible"
        mode="side">
        <app-sidenav-menu></app-sidenav-menu>
    </mat-sidenav>
    <mat-sidenav *ngIf="appLoadedService.LoggedInContact?.HasInternetConnection" [ngStyle]="{'width': this.appStateService.UserPreference.MapWidthText  }"
        #rightSideNav [opened]="appStateService.UserPreference.MapVisible" mode="side" position="end">
        <app-map-item></app-map-item>
    </mat-sidenav>
    <app-error></app-error>
    <app-bread-crumb></app-bread-crumb>

    <div class="margin10">
        <app-root-item *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Root">
        </app-root-item>
        <app-country-item
            *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Country">
        </app-country-item>
        <app-province-item
            *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Province">
        </app-province-item>
        <app-area-item
         *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Area">
        </app-area-item>
        <app-sector-item
            *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Sector">
        </app-sector-item>
        <app-subsector-item
            *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Subsector">
        </app-subsector-item>
        <app-municipality-item
            *ngIf="appStateService.UserPreference.ShellSubComponent == shellSubComponentEnum.Municipality">
        </app-municipality-item>
    </div>


    <mat-toolbar class="footer">
        <app-footer></app-footer>
    </mat-toolbar>
</mat-sidenav-container>